html, body {
  background-color: #eee;
}
body {
  padding-top: 40px;
}

.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.page-header {
  background-color: #f5f5f5;
  padding: 20px 40px 10px;
  margin: -20px -40px 20px;
}

footer {
  background-color: #f5f5f5;
  padding: 20px 20px 20px;
  margin: 15px -20px -20px;
  border-top: solid 1px #eee;
}

.nav-logo img {
  margin-top: -4px;
  margin-right: -4px;
}

div.table {
  display: none; 
}

.sections ul {
        margin-left: 0px;
        list-style: none;
        }
div.section-left {
  float: left;
  }
.sections > div {
  width: 380px;
  padding: 10px;
  }
div.section-right {
  float: right;
  }


.summary dd, .summary dt {
  display: inline-block;
  }
.summary dd , .summary td.amount  {
  color: white;
  font-weight: bold;
  background: #2c2c2c;
  width: 2em;
  text-align:center;
  padding: 2px;
  border-radius: 2px;
  height: 1.5em;
  
  }
.summary td.key {
  width: 250px;
  }
.summary td{
  margin-bottom: 5px;
  }
.summary {
  margin-right: 10px;
  float:left }

.input-prepend {
  float: left;
  margin-top: 12px;}

#spacer {
  clear: both;
  }
.dashboard {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  color: black;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f5f5;
  }
.dashboard .bignumber {
  font-size: 75px;
  font-weight: bold;
  color: #FF9900;
  }
.dashboard .small {
  font-size: 12px;
  }
.dashboard .line {
  margin-bottom: 50px;
  width: 100%;
  }
.dashboard .line-right {
  text-align: right;
  }
td.bpvalue {
  text-shadow: 1px 1px #ffffff;
  }
tr.active > td.bpvalue > div { 
  background: #ff9900 !important;
  }
input.span2 { 
  margin-bottom: 0px;
  margin-left: 0px;
  }

table.table td, table.table th {
        vertical-align: top;
        text-align: center;
      }

      table.response-summary td,
      table.response-summary td:hover {
      }

      table.response-summary td.count-0 {
        background-color: whiteSmoke;
      }

      table.cell-summary {
        margin-top: 6px;
      }

      table.table th.country-name {
        text-align: left;
      }

      .nav-tabs {
        max-width: 250px;
      }

      #map path {
        stroke: #fff;
        stroke-width: 0.3px;
      }

      #map svg path.regions:hover {
        fill: #c00;
        cursor: pointer;
      }

      #map svg path.bg {
        stroke: #d3d0d0;
        fill: #d3d0d0;
        opacity: 0.5;
      }


      .modal {
        width: 800px;
        margin-left: -400px;
        margin-right: -400px;
      }
      button.close {
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
      }

      .modal table th {
        width: 60%;
      }

      .modal table th,
      .modal table td {
        text-align: left;
      }

      .loading {
        text-align: center;
        font-size: 24px;
        margin-bottom: 5px;
      }
.modal .notice {
  margin-top: 5px;
  }
SPAN.brand {
    padding-left: 10px;
    }
#pagesel A {
     color: #ffffff; 
     margin-top: 5px;
    }
#pagesel {
    background-color: #2C2C2C;
    font-size: 20px;
    width: 100px;
    position: absolute;
    display: none;
    padding-left: 10px;
    }
#pagesel UL {
    list-style: none;
    margin-left: 0px;
    }
.page {
  min-height: 580px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  }
.footer {
  background: #2C2C2C;
  color: white;
  width: 100%;
  clear: both;
}

A.control {
  }

A.control:hover {
  background: #999999;
  color: white;
  }


.tab-content {
  height: 500px;
  margin-left: 315px;
}
ul.tab-control {
  float: left;
  list-style: none;
  margin-left: 0px;
  width: 250px;
  }
ul.tab-control > li > a {
  width: 100%
  }
.rankings > #map {
    margin-left: 0px;
    }
#map svg path.regions:hover {
  fill: #FF9900;
  }
#ranks {
  width: 400px;
  float: right;
  height: 500px;
  overflow-y: scroll;
  }

.rankings > .selector > a {
  text-transform: capitalize;
  }
