html, body {
  background-color: #fff;
}
body {
  padding-top: 40px;
}

.nav-logo img {
  margin-top: 4px;
  margin-right: 8px;
}

div.table {
  display: none; 
  }

.summary dd, .summary dt {
  display: inline-block;
  }
.summary dd , .summary td.amount  {
  color: white;
  font-weight: bold;
  background: #2c2c2c;
  width: 2em;
  text-align:center;
  padding: 2px;
  border-radius: 2px;
  height: 1.5em;
  
  }
.summary td.key {
  width: 250px;
  }
.summary td{
  margin-bottom: 5px;
  }

.dashboard {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  }
.dashboard .summary {
  width: 300px;
  float: left;
  padding: 10px;
  border: 1px solid #2c2c2c;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  }

input.span2 { 
  margin-bottom: 0px;
  }

table.table td, table.table th {
        vertical-align: top;
        text-align: center;
      }

      table.response-summary td,
      table.response-summary td:hover {
      }

      table.response-summary td.count-0 {
        background-color: whiteSmoke;
      }

      table.cell-summary {
        margin-top: 6px;
      }

      table.table th.country-name {
        text-align: left;
      }

      .nav-tabs {
        max-width: 250px;
      }

      .page {
        padding-top: 2em;

      }

      .tab-content {
        width: auto;
        padding-top: 3em;
      }
      #map path {
        stroke: #fff;
        stroke-width: 0.3px;
      }

      #map svg path.regions:hover {
        fill: #c00;
        cursor: pointer;
      }

      #map svg path.bg {
        stroke: #d3d0d0;
        fill: #d3d0d0;
        opacity: 0.5;
      }


      .modal {
        width: 800px;
        margin-left: -400px;
        margin-right: -400px;
      }
      button.close {
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: 0;
        -webkit-appearance: none;
      }

      .modal table th {
        width: 60%;
      }

      .modal table th,
      .modal table td {
        text-align: left;
      }

      .loading {
        text-align: center;
        font-size: 24px;
        margin-bottom: 5px;
      }
.modal .notice {
  margin-top: 5px;
  }
SPAN.brand {
    padding-left: 10px;
    }
#pagesel A {
     color: #ffffff; 
     margin-top: 5px;
    }
#pagesel {
    background-color: #2C2C2C;
    font-size: 20px;
    width: 100px;
    position: absolute;
    display: none;
    padding-left: 10px;
    }
#pagesel UL {
    list-style: none;
    margin-left: 0px;
    }
.page {
  min-height: 580px;
  padding-bottom: 10px;
  }
.footer {
  background: #2C2C2C;
  color: white;
  width: 100%;
  }

A.control {
  }

A.control:hover {
  background: #999999;
  color: white;
  }

ul.tab-control {
  list-style: none;
  margin-left: 0px;
  width: 250px;
  }

