<!DOCTYPE html>
<html lang="en">
  <head>
    <base target="_parent" />
    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
    {% block head_css %}{% endblock head_css %}
    <script>
      var siteUrl = {{ site_url|dump|safe }},
          currentYear = 2016,
          previousYear = 2015,
          years = {{ map.years|dump|safe }},
          sitename = {{ site_title|dump|safe }},
          sponsor = {{ map.sponsor.name|dump|safe }};
    </script>
    {% block head_scripts %}{% endblock head_scripts %}
  </head>
  <body>
      {% block content %}{% endblock content %}
      {% block body_scripts %}
      {% include 'includes/analytics.html' %}
      {% endblock body_scripts %}
  </body>
</html>
