<section id="home-about">
  <div class="container">
    <h1>Tracking the state of government open data.</h1>
      <p>
        The first initiative of its kind, the Global Open Data Index provides the most comprehensive snapshot available of the global state of open data.
      </p>
      <a class="btn" href="{{ SITEURL }}/place/">
        Compare countries
      </a>

      <a class="btn" href="{{ SITEURL }}/insights/">
        See insights
      </a>
  </div>
</section>

<section class="map_visualisation">
  <div class="container">
    <div>
      <div class="summary-stats">
        {% include 'includes/dataviews/alt_summary.html' %}
      </div>
      <div class="map">
        {% include 'includes/dataviews/embed_map.html' %}
      </div>
    </div>
  </div>
</section>

<section class="chart_visualisation">
  <div class="container">
    <div>
      <div class="chart">
        <svg viewBox="0 0 32 32">
          <circle r="16" cx="16" cy="16" stroke-dasharray="9 100"; />
        </svg>
      </div>
      <div class="summary-stats">
        {% include 'includes/dataviews/alt_general_stat.html' %}
      </div>
    </div>
  </div>
</section>
