{% if not current_url and paths and site_url %}
  {% set current_url = site_url + paths.dhref %}
{% endif %}
{% if not site_title and site.settings.title %}
  {% set site_title = site.settings.title %}
{% endif %}

<h5 {% if not is_index %}class="sr-only"{% endif %}>{{ gettext("Share this page") }}</h5>
<div class="btn-group">
{#   <a href="" class="btn btn-default btn-sm embed" data-toggle="modal" data-target="#embed-instructions">
    <i class="fa fa-code"></i> {{ gettext("Embed") }}
  </a> #}
  <a href="http://twitter.com/share?url={{current_url}}&amp;text=Check out this data from the {{ site_title }}" class="btn btn-default btn-sm twitter" target="_blank">
    <i class="fa fa-twitter"></i> Twitter  </a>
  <a href="http://www.facebook.com/sharer/sharer.php?u={{current_url}}" class="btn btn-default btn-sm facebook" target="_blank">
    <i class="fa fa-facebook"></i> Facebook  </a>
  <a href="https://plus.google.com/share?url={{current_url}}" class="btn btn-default btn-sm google-plus" target="_blank">
    <i class="fa fa-google-plus"></i> Google+  </a>
</div>
<div class="modal fade" id="embed-instructions" tabindex="-1" role="dialog" aria-labelledby="embedLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">{{ gettext("Close") }}</span></button>
        <h4 class="modal-title" id="embedLabel">{{ gettext("Map embed code") }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ gettext("Use the following code to embed the map visualisation into your own website.") }}</p>
        <pre contenteditable="true">&lt;iframe width="100%" height="360px" src="http://index.okfn.org/vis/map/embed/?embed_width=100%&embed_height=360px&filter_year=2015&filter_dataset=statistics&panel_tools=false&panel_share=false&embed_title=National Statistics ; 2015&map_place=" frameBorder="0"&gt;&lt;/iframe&gt;</pre>
        <p>{{ gettext("If you are a developer, you can read more about the embed options here:") }}
          <a href="https://github.com/okfn/opendataindex/#choropleth-map" title="{{ gettext("Embed options") }}">
          {{ gettext("Embed options") }}
          </a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ gettext("Close") }}</button>
      </div>
    </div>
  </div>
</div>
