---
extends: google
env:
  node: true
  es6: true
  mocha: true
parserOptions:
  sourceType: script
rules:
  strict:
    - error
    - safe
  quotes:
    - error
    - single
    - avoid-escape
  semi:
    - error
    - always
  space-before-function-paren:
    - off
  guard-for-in:
    - off
  no-negated-condition:
    - warn
  no-else-return:
    - warn
