{
  "sysAdmin": "{YOUR_EMAIL}",
  "registryUrl": "https://docs.google.com/spreadsheets/d/1qr0wn9JePirV1avY5DmnCJPKudbYIoX0TDAp4WZWNqU/edit#gid=0",
  "database": {
    "username": "{DB_USERNAME}",
    "password": "{DB_PASSWORD}",
    "database": "opendatacensus",
    "host": "localhost",
    "port": 5432,
    "dialect": "postgres",
    "logging": false,
    "define": {
      "charset": "utf-8",
      "collate": "utf8_general_ci",
      "timestamps": true
    }
  },
  "google": {
    "app_id": "{GOOGLE_APP_ID}",
    "app_secret": "{GOOGLE_APP_SECRET}"
  },
  "facebook": {
    "app_id": "{FACEBOOK_APP_ID}",
    "app_secret": "{FACEBOOK_APP_SECRET}"
  },
  "fallback_questionset": "https://docs.google.com/spreadsheets/d/1UKpnHBqwKfpZCTRPTTwpYHE3Dx6QV7M8uWmEeDTNWPM/edit#gid=1999457872",
  "auth_subdomain": "id",
  "system_subdomain": "system",
  "sentry_dsn": "",
  "discussion_forum": "https://discuss.okfn.org/c/open-data-index"
}
