{% macro popover_comparison_title(dataset, place) -%}
{{ dataset.name }} in {{ place.name }}
{%- endmacro %}


{% macro popover_comparison_content(entry, place, dataset, questions, gettext, format) -%}
{% if not entry %}
    {{ gettext('There is no data available.') }}
{% else %}
<ul class="availability-popover">
    {% for question in questions -%}
    {% if question.score %}
        {% set state = entry.answers[question.id] %}
        {% if state == 'Yes' %}
            {% set no = '' %}
        {% elif state == 'No' %}
            {% set no = 'not' %}
        {% else %}
            {% set no = "unclear if it's" %}
        {% endif %}
        <li class="{% if state == 'Yes' %}yes{% elif state == 'No' %}no{% elif state == 'Unsure' %}maybe{% endif %}"><i class="fa fa-{{ question.icon }}"></i>&nbsp;
            {% if question.id == 'exists' %}
                {% if state == 'Y' %}
                    {{ gettext('Data exists') }}
                {% else %}
                    {{ gettext('Data does not exist') }}
                {% endif %}
            {% elif question.id == 'digital' %}
                {{ format("It's %(no)s digital", {no: no}) }}
            {% elif question.id == 'public' %}
                {{ format("It's %(no)s public", {no: no}) }}
            {% elif question.id == 'free' %}
                {{ format("It's %(no)s free", {no: no}) }}
            {% elif question.id == 'online' %}
                {{ format("It's %(no)s online", {no: no}) }}
                {% if no == '' %}
                    <a href="{{ entry.url }}" title="{{ gettext('%(dataset)s for %(place)s on the web', dataset=dataset.id, place=place.name) }}">{{ gettext('here') }}</a>
                {% endif %}
            {% elif question.id == 'machinereadable' %}
                {{ format("It's %(no)s machine readable", {no: no}) }}
            {% elif question.id == 'bulk' %}
                {{ format("It's %(no)s available in bulk", {no: no}) }}
            {% elif question.id == 'openlicense' %}
                {{ format("It's %(no)s openly licensed", {no: no}) }}
            {% elif question.id == 'uptodate' %}
                {{ format("It's %(no)s up to date", {no: no}) }}
            {% endif %}
        </li>
    {% endif %}
    {%- endfor %}
</ul>
<p>
    {% if entry and entry.details %}
    {{ entry.details|truncate(100) }}
    {% else %}
    {{ gettext('No additional details') }}
    {% endif %}
</p>
<a class="btn btn-primary" href="/entry/{{ place.id }}/{{ dataset.id }}/">{{ gettext('Read more') }} &raquo;</a>
{% endif %}
{%- endmacro %}
