{% macro popover_comparison_title(dataset, place) -%}
{{ dataset.name }} in {{ place.name }}
{%- endmacro %}


{% macro popover_comparison_content(entry,
                                    place,
                                    dataset,
                                    questions,
                                    gettext,
                                    actionUrl,
                                    actionText,
                                    actionClass,
                                    submissionsAllowed) -%}
{% if not entry -%}
  {{ gettext('There is no data available.') }}
{% else %}
  <ul class="availability-popover">
    {% for question in questions -%}
      {% if question.score -%}
        {% set answer = entry.getAnswerValueForQuestion(question) %}
        {% set pass = 'yes' if question.pass(answer) else 'no' %}

        <li class="{{ pass }}" title="{{ question.question }}">
          <i class="fa fa-{{ question.icon }}"></i>&nbsp;{% if pass == 'yes' %}It's {% elif pass == 'no' %}It's not {% endif %}{{ question.questionshort|lower }}
        </li>
      {%- endif %}
    {%- endfor %}
  </ul>
  {% if entry and entry.details -%}
    <p>{{ entry.details|truncate(100) }}</p>
  {%- endif %}

  {% if is_index != "true" -%}
    <div class='btn-group'>
    {% endif %}
    <a class="btn btn-primary" href="/entry/{{ place.id }}/{{ dataset.id }}/">Read more &raquo;</a>
    {% if is_index != "true" and submissionsAllowed %}
      <a class='btn btn-{{actionClass}}' href='{{actionUrl}}'>{{actionText}}</a>
    </div>
  {%- endif %}

{%- endif %}
{%- endmacro %}
