{% macro popover_comparison_title(dataset, place) -%}
{{ dataset.name }} in {{ place.name }}
{%- endmacro %}

{% macro popover_comparison_content(entry,
                                    place,
                                    dataset,
                                    questions,
                                    gettext,
                                    actionUrl,
                                    actionText,
                                    actionClass,
                                    submissionsAllowed,
                                    is_index) -%}
{% if not entry -%}
  {{ gettext('There is no data available.') }}
{% else %}
  <ul class="availability-popover">
    {% for question in questions -%}
      {% if question.score -%}
        {% set answer = entry.getAnswerValueForQuestion(question) %}
        {% set pass = 'yes' if question.pass(answer) else 'no' %}
        <li class="{{ pass }}" title="{{ question.question }}">
          <i class="fa fa-{{ question.icon }}"></i>&nbsp;{% if pass == 'yes' %}It's {% elif pass == 'no' %}It's not {% endif %}{{ question.questionshort|lower }}
        </li>
      {%- endif %}
    {%- endfor %}
  </ul>
  {% if entry and entry.details -%}
    <p>{{ entry.details|truncate(100) }}</p>
  {%- endif %}

{% if is_index %}
  {% set entryBaseUrl = 'place' %}
{% else %}
  {% set entryBaseUrl = 'entry' %}
{% endif %}

  {% if not is_index -%}
    <div class='btn-group'>
  {% endif %}
    <a class="btn btn-primary" href="/{{ entryBaseUrl }}/{{ place.id }}/{{ dataset.id }}/">{{ gettext("Read more &raquo;") }}</a>
  {% if not is_index and submissionsAllowed %}
    <a class='btn btn-{{actionClass}}' href='{{actionUrl}}'>{{actionText}}</a>
  {%- endif %}
  {% if not is_index -%}
    </div>
  {%- endif %}

{%- endif %}
{%- endmacro %}
