{% extends "base.html" %}

{% block title %}
Submit
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Make a Submission &ndash; {{ sitename }}</h1>
</div>

<div class="alert alert-warning">
  {{ submitInstructions }}
</div>

<form action="" method="POST" class="form" autocomplete="off">

<fieldset>
  <h3>Place and Dataset</h3>
  <div class="row">
    <div class="span4">
      <label>Place<br/>
        <select name="place" required autocomplete="off">
          <option value="">Please select</option>
          {% for place in places %}
          <option value="{{place.id}}" {% if place.id == prefill.place %}selected="true"{% endif %}>{{place.name}}</option>
          {% endfor %}
        </select>
      </label>
    </div>
    <div class="span4">
      <label>Dataset<br/>
        <select name="dataset" id="dataset-select" required>
          <option value="">Please select</option>
          {% for dataset in datasets %}
          <option value="{{dataset.id}}" {% if dataset.id == prefill.dataset %}selected="true"{% endif %}>{{dataset.title}}</option>
          {% endfor %}
        </select>

        {% for dataset in datasets %}
        <div class="dataset-description js-dataset-{{dataset.id}}" style="display: none;">
          <span class="help-block">
            {{dataset.description}}
          </span>
        </div>
        {% endfor %}
      </label>
    </div>
    <div class="span4">
      <label>{{ sitename_short }} Year<br/>
        <input name="year" type="number" min="2012" max="2014" value="{{year}}" readonly="true" />
      </label>
    </div>
  </div>
</fieldset>

{% include 'submission/form-core.html' %}

  <h3>Your Name &ndash; {{ currentUser.name}} </h3>
  <span class="help-block">This will be public.</span>

<div class="controls" style="margin-top: 30px;">
  <button type="submit" class="btn btn-large btn-success" data-loading-text="Saving ..." style="float: left; margin-right: 30px;">Submit</button>
    <p class="help-block">By submitting material to the index you agreeing to <a href="http://okfn.org/terms-of-use/">terms of use</a> and also to license your contribution (to the extent there are any rights in it!) under the <a href="http://opendatacommons.org/licenses/pddl/1.0/">Open Data Commons Public Domain Dedication and License</a>.</p>
</div>

</form>


<script src="/src/common.js"></script>
<script src="/src/submit.js"></script>
{% endblock %}

