<fieldset>
<h3>{{gettext("Data Availability Questions")}}</h3>

<table class="table table-striped yntable availability-form">
<thead>
  <tr>
    <td></td>
    <td>{{gettext("Yes")}}</td>
    <td>{{gettext("No")}}</td>
    <td>{{gettext("Unsure")}}</td>
    <td class="current-entry">{{gettext("Current Entry")}}</td>
    <td>Info</td>
  </tr>
</thead>
<tbody id="dataset-properties">
  {% for qu in ynquestions %}
  <tr {% if loop.index0 != 0 %}class="hide js-dependent"{% endif %}>
    <td>{{qu.question}}?</td>
    {% for val in ['Yes', 'No', 'Unsure'] %}
    <td>
      <input type="radio" name="{{qu.id}}" value="{{val}}" {% if canReview != true %}disabled="disabled"{% endif %} {% if prefill[qu.id] == val %}checked="true"{% endif %}
        required>
    </td>
    {% endfor %}
    <td class="current-entry">
      {{ currrecord[qu.id] }}
    </td>
    <td class="info">
      <span class="help-block">{{qu.description}}</span>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
</fieldset>


{% macro currentEntry(qu) %}
  <div class="current-entry">
    <label>{{gettext("Current Entry")}}</label>
    <div>
      {% if currrecord %}
        {% if currrecord[qu.id] %}
          {{currrecord[qu.id]}}
        {% else %}
          {{ gettext("No entry") }}
        {% endif %}
      {% else %}
        {{ gettext("No entry") }}
      {% endif %}
    </div>
  </div>
{%- endmacro  %}

{% macro question(qu) -%}
    <h4>{{qu.question}}</h4>
    <input type="{{qu.type}}"
      title="{{qu.placeholder}}"
      name="{{qu.id}}" value="{{prefill[qu.id]}}"
      {% if canReview != true %}disabled="disabled"{% endif %} 
      placeholder="{{qu.placeholder}}" {% if qu.id=='format' %} list="formats" {% endif %} />
    {{ currentEntry(qu) }}
    <span class="help-block">{{qu.description}}</span>
{%- endmacro  %}

<fieldset class="data-details">
  <div class="row">
  {% for qu in questions.slice(9, 13) %}
  <div class="span6">
    {{ question(qu) }}
  </div>
  {% endfor %}
  </div>

  <datalist id="formats">
    <option value="CSV">
    <option value="Excel">
    <option value="HTML">
    <option value="PDF">
    <option value="json">
    <option value="geojson">
    <option value="shapefiles">
  </datalist>
</fieldset>

  <h3>{{gettext("Publisher Information")}}</h3>
  <div class="row">
    <div class="span6">
      {{question(questionsById.publisher)}}
    </div>
    <div class="span6">
      {{question(questionsById.title)}}
    </div>
  </div>

  <h3>{{gettext("Data Quality")}}</h3>
  <div class="row">
  {% for quid in ['qualityinfo', 'qualitystructure'] %}
  {% set qu = questionsById[quid] %}
    <div class="span6">
      <h4>{{qu.question}}</h4>
      <select name="{{qu.id}}" autocomplete="off"  {% if canReview != true %}disabled="disabled"{% endif %}>
        <option value="">{{gettext("Please select")}}</option>
        {% for xval in [1,2,3,4,5,6,7,8,9,10] %}
        <option value="{{xval}}" {% if xval == prefill[qu.id] %}selected="true"{% endif %}
          >{{xval}}</option>
        {% endfor %}
      </select>
      <span class="help-block">{{qu.description}}</span>
      {{ currentEntry(qu) }}
    </div>
  {% endfor %}
  </div>

  <h3>{{questionsById.details.question}}</h3>
  <textarea name="details" class="span8" {% if canReview != true %}disabled="disabled"{% endif %}
    style="min-height: 150px;">{{prefill.details}}</textarea>
  <span class="help-block">{{questionsById.details.description}}</span>
  {{ currentEntry(questionsById.details) }}
