{% extends "base.html" %}

{% block title %}
Country - Submit
{% endblock %}

{% block content %}
      <div class="page-header">
        <h1>Submit a Response to the Open Data Census</h1>
      </div>
      <iframe id="submit" width="760" height="1311" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div> <!-- /container -->
    <script>
    $(function(){
      //Moved dataset to server side to do mapping to internal (long) names
        //var dataset = getURLParameter('dataset') || '';
      var area = getURLParameter('area') || '';
      
      //encodeURIComponent(actualdataset)
      
      var url = 'https://docs.google.com/spreadsheet/embeddedform?formkey=dFpGRWhWd1lSeXNFX0dMRGw2VEFvSXc6MA&entry_0=' + encodeURIComponent(area) + '&entry_128=' + "{{ datasetsmap[dataset] | urlencode }}";
//      var url = 'https://docs.google.com/spreadsheet/embeddedform?formkey=dEVnbG5pUFlyUzBpVkFXbXJ2WWpGTUE6MA&entry_0=' + encodeURIComponent(area) + '&entry_128=' + encodeURIComponent(dataset);
      $('#submit').attr('src', url);
    });
    </script>



<script src="{{page.root}}/src/common.js"></script>
{% endblock %}
