{% extends "base.html" %}

{% block title %}
{{gettext("Login")}}
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{{gettext("Login")}}</h1>
</div>

<div class="name-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  </div>
</div>

<div class="row">
  <div class="span12">
      <h4>
          {{ gettext("Please login to contribute to the") }} {{ sitename }}
      </h4>
      <p>&nbsp;</p>
  </div>
  <div class="span5">
    <a class="btn btn-primary" href="/auth/google">{{gettext("Login with Google &raquo;")}}</a>
    <p>&nbsp;</p>
    <p>{{gettext("Login with your existing Google account in a few seconds. We will not share your email with any third party. For more information see the")}} <a href="https://okfn.org/terms-of-use/" title="{{ gettext("terms of use") }}">{{ gettext("terms of use")}}</a>.</p>
  </div>
  {% if anonymous_submissions %}
  <div class="span2" style="text-align: center;">
    <h3>{{gettext("&ndash; or &ndash;")}}</h3>
  </div>
  <div class="span5">
    <form method="POST">
      <div>
        <label>{{gettext("Name (optional)")}}</label>
        <span class="help-block">{{gettext("If you provide a name we can credit you for your contribution (if not provided you'll be listed as Anonymous).")}}</span>
        <input name="displayName" class="span5" type="text" placeholder="{{gettext("Joe Bloggs")}}">
      </div>
      <button type="submit" class="btn btn-primary">{{gettext("Continue &raquo;")}}</button>
    </form>
    <p>&nbsp;</p>
    <p>{{gettext("Continue without logging in.")}}</p>
  </div>
  {% endif %}
</div>
<!--<p><a class="btn btn-primary btn-large" href="/auth/facebook">Login with Facebook &raquo;</a></p> -->

{% endblock %}
