.reload-area {
    padding: 5px 5px 10px 5px;
    margin: 5px;
    width: 300px;
    border-radius: 2px;
    border: 2px solid black;
}
.reload-entity {
    margin-bottom: 8px;
    width: 100%;
    height: 35px;
    cursor: pointer;
    font-size: 15px;
}

.reload-result-area {
    
    
}

#reload-status-wrapper {
    
    padding: 5px 5px 5px 5px;
    height: 25px;
    text-transform: uppercase;
    background-color: yellow;
    font-family: arial;
    color: black;
    vertical-align: middle;
    font-size: 14px;
}

#reload-status {
    
}