@import "fonts.css";

/* General Styles */
/* ============== */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight:400;
	margin-bottom:0;
}
h1 {
	margin-top:25px;
	margin-bottom:20px;
}

h2 {
  margin-bottom: 10px;
}

.muted {
  color: #caccc7;
}

.full-width {
	margin: 0 -500%;
  padding: 0.5em 500%;
}

.popup {
	cursor:pointer;
}

table {
	font-size:15px;
}
table tr.queued td,
table tr.queued th {
	opacity:0.3;
}
table tr.queued:hover td,
table tr.queued:hover th {
	opacity:1;
}

i[class*='icon-'] {
  text-decoration: none;
}
  
.tooltip-inner {
  max-width: 350px;
}
  
ul.icons {
	margin:0;
}
ul.icons li {
	display:inline-block;
	width:22px;
	height:22px;
	line-height:22px;
	text-align:center;
}
ul.availability.icons li {
	background-color:#CCC;
	color:#FFF;
  margin: -1px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
ul.availability.icons li.yes {
	background-color:#8bdd3a;
}
ul.availability.icons li.no {
	background-color:#dd3d3a;
}
ul.availability.icons li.maybe {
	background-color:#f9b339;
}
ul.availability.icons li .text {
	display:none;
}

ul.availability.icons.mini li {
	width:5px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
ul.availability.icons.mini li i {
	display:none;
}

.icons-nodata {
  color: #333333;
}

.key {
	display:inline-block;
	padding-top:0;
	padding-bottom:9px;
}
.key h5 {
	display:inline-block;
	margin-right:10px;
}
.key ul {
	margin:0;
	display:inline-block;
}
.key ul li {
	display:inline-block;
	border-left:solid 16px #000;
	line-height:16px;
	padding-left:5px;
	padding-right:10px;
}
.key.availability ul li {
	border-left-color:#CCC;
}
.key.availability ul li.maybe {
	border-left-color:#f9b339;
}
.key.availability ul li.yes {
	border-left-color:#8bdd3a;
}
.key.availability ul li.no {
	border-left-color:#dd3d3a;
}


/* Layout */
/* ====== */
html {
  overflow-x: hidden;
	background-color: #edeeec;
}

.navbar {
	background-image: url(stripes.png);
	background-repeat: repeat;
	background-position: center top;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#2b2a2a;
}
.navbar .navbar-inner {
	background-image: url(header-map.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-color:transparent;
	height:70px;
	line-height:70px;
	-webkit-box-shadow: 0px 0px 0px 0px ;
  box-shadow: 0px 0px 0px 0px ;
	border:none;
	filter:none;
}
.navbar .navbar-inner .brand {
	padding: 0px 20px 0px 26px;
	background-image: url(logo-icon.png);
	background-repeat: no-repeat;
	background-position: left 18px;
	margin:0px;
	color:#2b2a2a;
	text-shadow:none;
}
.navbar .nav > li {
	border-left: solid 1px #a7a9a4;
	padding:10px 5px;
}
.navbar .nav > li > a {
  color: #2b2a2a;
  padding: 15px 10px;
	text-shadow:none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.navbar .nav > li > a:hover {
	background-color:rgb(237,237,236);
	background-color:rgba(237,237,236,0.3);
}
.navbar .nav > li.dropdown > a:hover,
.navbar .nav > li.dropdown:hover > a {
  background-color:rgb(237,237,236);
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
	margin:-12px 0 0 5px;
	border-color:rgb(237,237,236);
	border-width:0;
	border-top-width:3px;	
	-webkit-border-radius: 0px;
	-webkit-border-bottom-right-radius: 2px;
	-webkit-border-bottom-left-radius: 2px;
	-moz-border-radius: 0px;
	-moz-border-radius-bottomright: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-radius: 0px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	-webkit-box-shadow: 0px 3px 3px rgba(50, 50, 50, 0.35);
	-moz-box-shadow:    0px 3px 3px rgba(50, 50, 50, 0.35);
	box-shadow:         0px 3px 3px rgba(50, 50, 50, 0.35);
}
.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after {
	display:none;
}
.dropdown-menu > li > a {
	padding: 3px 10px;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
	color:#2B2A2A;
	background-color:rgb(237,237,236);
	background-image:none;
	filter:none;
}

.page-header {
	margin-bottom:10px;
}

footer {
  background-color: #edeeec;
  padding: 20px 20px 20px;
  /*margin: 15px -20px -20px;*/
  border-top: solid 10px #caccc7;
	font-size:12px;
}
footer a,
footer a:hover {
	color: #333333;
	border-bottom: dotted 1px #333333;
	text-decoration:none;
}
footer a:hover {
	border-bottom:solid 1px #333333;
}

.nav-logo img {
  margin-top: -4px;
  margin-right: -4px;
}

.sections ul {
        margin-left: 0px;
        list-style: none;
        }
div.section-left {
  float: left;
  }
.sections > div {
  width: 380px;
  padding: 10px;
  }
div.section-right {
  float: right;
  }


.summary dd, .summary dt {
  display: inline-block;
	font-weight:normal;
  }
.summary dd {
  margin-left: 2px;
  margin-right: 20px;
}
.summary dd , .summary td.amount  {
  color: white;
  background: #2c2c2c;
  text-align:center;
  padding: 4px 2px 1px 4px;
  border-radius: 2px;
	font-size:21px;
	font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;
	letter-spacing:2px;
  }
.summary td.key {
  width: 250px;
  }
.summary td{
  margin-bottom: 5px;
  }
	
.featured.summary {
	 margin-top:30px;
}
.featured.summary dt {
	font-size:20px;
	font-family: 'BebasNeueRegular',Arial,Helvetica,sans-serif;
	letter-spacing:1px;
	font-weight:normal;
}
.featured.summary dd {
	font-size:26px;
	line-height:28px;
}


.input-prepend {
  float: left;
  margin-top: 12px;}

#spacer {
  clear: both;
  }
	

/* Home Page */
/* ========= */
	
.dashboard {
  position: relative;
}
.dashboard,
.dashboard:before,
.dashboard:after {
	background-color: #caccc7;
	background-image: url(stripes.png);
	background-repeat: repeat;
	background-position: center 2px;
	border-bottom:solid 10px #2b2a2a;
}
.dashboard:before,
.dashboard:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -10px;
  width: 9999px;   /* some huge width */
} 
.dashboard:before {
   right: 100%;
	 background-position: right 2px;
}
.dashboard:after {
   left: 100%;
	 background-position: left 2px;
}
.dashboard > .inner {
	background-image: url(header-map.png);
	background-repeat: no-repeat;
	background-position: center -70px;
	min-height:300px;
	padding:15px 0px;
	text-align:center;
	font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
	font-size:36px;
	line-height:36px;
	letter-spacing:5px;
	text-shadow: 0px 1px 0px #FFF;
}
.dashboard .bignumber {
  font-size: 147px;
	line-height:134px;
  color: #f2f1f1;
	letter-spacing:normal;
}
.dashboard .bignumber > span {
	display: inline-block;
	height: 126px;
	width: 81px;
	padding: 8px 2px 3px 0px;
	margin:2px 2px 15px 2px;
	background-image: url(flip.png);
	background-repeat: no-repeat;
	position:relative;
	text-shadow: 0px -1px 0px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=-1); 
}
.dashboard .bignumber > span:after {
	content: "";
  position: absolute;
  top: 0;
	left:0;
	width:80px;
	height:134px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjU2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.56) 49%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 51%, rgba(0,0,0,0.12) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.05)), color-stop(49%,rgba(0,0,0,0.56)), color-stop(50%,rgba(0,0,0,1)), color-stop(51%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.12))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.56) 49%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.12) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.56) 49%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.12) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.56) 49%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.12) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.56) 49%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,0.12) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d000000', endColorstr='#1f000000',GradientType=0 ); /* IE6-8 */
	opacity:0.8;
  filter:alpha(opacity=80); /* For IE8 and earlier */
	-webkit-border-radius: 2px;
  border-radius: 2px;
}
.dashboard .between-numbers {
	letter-spacing:normal;
	vertical-align:top;
	line-height:146px;
	padding:3px;
}

section.home-content {
	padding-top:25px;
}
section.home-content .link.well {
	height:146px;
	display:block;
	background-position: center center;
	position:relative;
	background-size:cover;
}
section.home-content .link.well .ribbon {
	position:absolute;
	display:inline-block;
	left:-3px;
	bottom:15px;
	background-color:#2b2a2a;
	color:#FFF;
	padding:8px 15px 6px 15px;
	-webkit-border-radius: 2px;
  border-radius: 2px;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
	font-family:'BebasNeueRegular', Arial, Helvetica, sans-serif;
	font-size:18px;
	letter-spacing:1px;
}


	
td.bpvalue {
  text-shadow: 1px 1px #ffffff;
  }
tr.active > td.bpvalue > div { 
  background: #ff9900 !important;
  }
input.span2 { 
  margin-bottom: 0px;
  margin-left: 0px;
  }


table.response-summary thead tr th.sorting {
	height: auto;
	padding: 8px;
	padding-bottom: auto;
	text-align: left;
}

/* Country table */
table.response-summary thead tr th {
	height: 114px;
	padding: 8px;
	padding-bottom: 0px;
	text-align: center;
	vertical-align: bottom;
}

table.response-summary thead tr th div {
	text-align: left;
	writing-mode: tb-rl;
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	vertical-align: middle;
	padding: 8px 0;
	height: 55px;
	width: 50px;
	/*line-height: */
}

table.response-summary tbody tr td.active {
	background-color: #EEE;
}

/* city table */

#city-table thead tr th.sorting {
	height: auto;
	padding: 8px;
	padding-bottom: auto;
	text-align: left;
}

#city-table thead tr th {
	height: 144px;
	/*display: block;*/
	padding: 8px;
	text-align: center;
	vertical-align: bottom;
}

#city-table thead tr th div {
	text-align: left;
	writing-mode: tb-rl;
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	vertical-align: middle;
	padding: 8px 0;
	height: 45px;
	width: 28px;
	margin-bottom: -15px;
}

table.response-summary td {
	padding: 0;
}
table.response-summary td a {
	display: block;
	padding: 8px;
	color: #333;
}
table.response-summary td  ul.availability.icons.mini {
	margin-top:7px;
}

table.response-summary td.placescore a {
	/* background-color:#FFF; */
	margin-left:6px;
}

table.response-summary .no-data a {
	color: inherit;
}

table.response-summary td.unavailable {
	background-color: #444;

}
table.response-summary td.unavailable > a {
	color: white;
}

table.response-summary td.unknown {
	background-color: gray;
}

table.response-summary td {
	cursor: pointer;
}

table.response-summary td.count-0 {
	background-color: whiteSmoke;
	cursor: auto;
}



table.response-summary td,
table.response-summary td:hover {
}

table.cell-summary {
	margin-top: 6px;
}

table.table th.area-name {
	text-align: left;
	width: 140px;
}

.nav-tabs {
	max-width: 250px;
}

#map path {
	stroke: #fff;
	stroke-width: 0.3px;
}

#map svg path.regions:hover {
	fill: #c00;
	cursor: pointer;
}

#map svg path.bg {
	stroke: #d3d0d0;
	fill: #d3d0d0;
	opacity: 0.5;
}


.modal {
	width: 800px;
	margin-left: -400px;
	margin-right: -400px;
}
button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.modal table th {
	width: 60%;
}

.modal table th,
.modal table td {
	text-align: left;
}

.loading {
	text-align: center;
	font-size: 24px;
	margin-bottom: 5px;
}
.modal .notice {
  margin-top: 5px;
  }
SPAN.brand {
    padding-left: 10px;
    }
#pagesel A {
     color: #ffffff; 
     margin-top: 5px;
    }
#pagesel {
    background-color: #2C2C2C;
    font-size: 20px;
    width: 100px;
    position: absolute;
    display: none;
    padding-left: 10px;
    }
#pagesel UL {
    list-style: none;
    margin-left: 0px;
    }
.page {
  min-height: 580px;
  padding-bottom: 10px;
  }
.footer {
  background: #2C2C2C;
  color: white;
  width: 100%;
  clear: both;
}

A.control {
  }

A.control:hover {
  background: #999999;
  color: white;
  }


.map-tab {
  height: 400px;
	padding-top:20px;
}
ul.tab-control {
  float: left;
  list-style: none;
  margin-left: 0px;
  }
ul.tab-control > li > a {
	display:block;
	margin-bottom:5px;
}
.rankings > #map {
    margin-left: 0px;
    }
#map svg path.regions:hover {
  fill: #FF9900;
  }
#ranks {
  width: 400px;
  float: right;
  height: 500px;
  overflow-y: scroll;
  }

.rankings > .selector > a {
  text-transform: capitalize;
  }
	
	
/* Review */
table.availability-form td {
	text-align:center;
	min-width:40px;
}
table.availability-form td:first-child {
	text-align:left;
}
table.availability-form thead td.current-entry {
	background-color:#caccc7;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color:#FFF;
	font-weight:bold;
}
table.availability-form tbody td.current-entry {
	background-color: #f2f2f1;
	border-top-color: #caccc7;
}
table.availability-form tbody td.current-entry label {
	padding:8px;
	margin:0;
	border-right-width: 3px;
	border-left-width: 3px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #caccc7;
	border-left-color: #caccc7;
}
table.availability-form tbody td.current-entry:nth-child(odd) {
}
table.table-striped.availability-form tbody > tr:nth-child(odd) > td.current-entry {
	background-color:#eff0ee;
}
table.availability-form tbody tr:last-child td.current-entry:after {
	content:'';
	display:block;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

div.current-entry label,
div.current-entry .label {
	background-color:#caccc7;
	margin:0;
	padding:2px 6px;
	font-size:12px;
	color:#FFF;
	font-weight:bold;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	display:block;
	text-shadow:none;
}
div.current-entry input[readonly], 
div.current-entry textarea[readonly] {
  cursor: text;
	margin-top:-3px;
}

div.textarea {
	background-color: #EEEEEE;
	color: #555555;
	border: 1px solid #CCCCCC;
	padding: 4px 6px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.historic-entries {
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	max-height:190px;
	overflow:hidden;
	overflow-y: auto;
	margin-bottom:20px;
}
div.historic-entries textarea,
div.historic-entries .textarea {
	border:none;   
}
div.historic-entries textarea {
	-webkit-border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin:0;
	height:30px;
}
div.historic-entries div.current-entry .label,
div.historic-entries div.current-entry .textarea {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
div.historic-entries div.current-entry:last-child .textarea {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

/* Expanding Textarea */
.expanding-texarea-txtstuff {
	resize: none;
	overflow: hidden;
}
.expanding-texarea-hiddendiv {
	display: none;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow-wrap: break-word; /* future version of deprecated 'word-wrap' */
}
.expanding-texarea-common {/* the styles are applied to both the textarea and the hidden clone */
	min-height: 30px;
	overflow: hidden;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	width:100%;
}
.expanding-texarea-lbr {
  line-height: 3px;
}


.yntable tr td:first-child {
  width: 150px;
  white-space: nowrap;
}

.help-block, .help-inline {
  font-size: 13px;
}

.well h3 {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.toc {
  padding-top: 10px;
}

.toc h3 {
  font-size: 18px;
  border-bottom: solid 1px #ccc;
}

.toc ul {
  list-style-type: none;
  margin-left: 0px;
  font-weight: bold;
}

.toc ul ul {
  margin-left: 30px;
}

