{% extends "base.html" %}

{% block title %}
Contributing to the Open Data Census
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>
    Contributing to the Open Data Census
  </h1>
</div>

<h3>Country Selection</h3>

<div class="row">
{% for idx in [0, 65, 130, 195] %}
<div class="span3">
{% for thePlace in places %}
{% if loop.index0 >= idx and loop.index0 < idx + 65 %}
<a href="/country/overview/{{thePlace}}/">{{thePlace}}</a> <br />
{% endif %}
{% endfor %}
</div>
{% endfor %}
</div>

{% endblock %}



