{% extends "base.html" %}

{% block title %}
Contributing to the {{ sitename }}
{% endblock %}

{% block content %}

<div class="page-header">
  <h1>
    Contributing to the {{ sitename }}
    <br />
    <small>The {{ sitename_short }} is a survey of the state of open data around the world focusing on the the availability and openness of a <a href="/about/">specific set of key datasets</a>.</small>
  </h1>
</div>

<div class="row">
<div class="span6">
  <h3>How it works</h3>
  <ol>
    <li><strong>Submission</strong>: Contributors submit information about the availability (or not) of key datasets in their country (for example Budgets in Brasil).</li>
    <li><strong>Review</strong>: submissions are reviewed by a Country Editor before being posted live on the website.</li>
    <li><strong>Assessment</strong>: Country Editors either approve (with or without amendments) or reject the submission.</li>
    <li><strong>Published</strong>: if approved, these submissions become an official entry in the Open Data Index and are displayed on the website.</li>
  </ol>

  <p>To get an idea of what we are looking for check out the <a href="/country/submit/">submission form</a>.</p>
</div>
<div class="span6">
  <h3>FAQs, Mailing List and Getting Assistance</h3>

  <div class="alert alert-warning">
    <p>We suggest joining the <strong><a href="http://lists.okfn.org/mailman/listinfo/open-data-census">Open Data Census discussion list</a></strong> especially if you want to <strong>discuss something</strong> or <strong>need assistance</strong>.
    <p>There is a <strong><a href="/faq#submit">detailed FAQ</a></strong> complementing the instructions below.</p>
    <p>Want to email someone? You can email the managing editors directly at <a href="mailto:census@okfn.org">census@okfn.org</a>.</p>
  </div>
</div>
</div>

<hr />

<h2>Get Started</h2>
<div class="row">
<div class="span6">
  <div class="well">
  <h3>Submit new information</h3>
  <p>Anyone can submit new information to the Census.</p>
  <ol>
    <li>Select your country in the <a href="#countries">list below</a> and click on it.</li>
    <li>You are now on the Country overview page for that country</li>
    <li>Click the blue "Submit Information" button on the right next to the appropriate category.</li>
    <li>Fill the form based on the dataset you have found.</li>
    <li>In addition below is a set of additional FAQs and help that you can use</li>
    <li>Click Submit. Your submission is now waiting for review, and will be visible in the table </li>
  </ol>
</div>
<div class="well">
  <h3>Propose a change to an existing entry</h3>
  <p>An example of a change would be updating on the availability of a dataset, or an update of the link to the data.</p>
  <ol>
    <li>Go to the correct country by clicking it.</li>
    <li>On the Country overview page, click the blue "Submit Information" button on the right next to the appropriate category.</li>
    <li>Fill in the form based on the changes you want to make to the existing data.</li>
    <li>Click Submit. Your submission is now waiting for review, and will be visible in the table as 'awaiting review' after a few minutes.</li>
  </ol>
</div>

</div>

<div class="span6">
  <div class="well">
  <h3>Review submissions</h3>
  <p>Only Census editors can review submissions. If you'd like to become an editor email the <a href="mailto:census@okfn.org">Census team</a>.</p>
  <ol>
    <li>Select your country in the <a href="#countries">list below</a></li>
    <li>On your Country overview page click "Review Now" on a pending submission
    <ul>
      <li>No "Review now" visible? This means there are no pending submissions and nothing for you do do! All done!</li>
      <li>You will be prompted to log in if you are not logged in at this point</li>
    </ul>
    <li>You will be taken to the review page where there will be instructions</li>
    <ul>
      <li>Remember you can edit the submission - and incorporate material from the current entry (if there is one). Comments can be particularly valuable, so consider merging old and new comments.</li>
    </ul>
    <li>Publish or Reject</li>
    <ul>
      <li>If submission is incorrect or lower quality than existing entry, click Reject.</li>
      <li>If submission is better than existing entry click Publish. <strong>Note that if you choose to publish the submission you are reviewing, it will overwrite the old submission entirely! So think carefully whether you need to merge any content first.</strong></li>
      <li>Note that you might need to refresh the site to see the greyed-out queued entry you've just processed disappear.</li>
    </ul>
  </ol>
  </div>
</div>
</div>
</div>

<h2 id="countries">Country List</h2>

<div class="row">
{% for idx in [0, 65, 130, 195] %}
<div class="span3">
{% for thePlace in places %}
{% if loop.index0 >= idx and loop.index0 < idx + 65 %}
<a href="/country/overview/{{thePlace}}/">{{thePlace}}</a> <br />
{% endif %}
{% endfor %}
</div>
{% endfor %}
</div>

{% endblock %}



