{% extends "base.html" %}

{% block title %}
Country Index - Entry for {{prefill.place}}/{{datasetNamesMap[prefill.dataset]}}
{% endblock %}

{% block content %}
<div class="page-header">
  {% if prefill.place %}
  <h1><a href="/country/overview/{{prefill.place | replace(' ','%20')}}" data-toggle="tooltip" class="count-0" title="Go to country results overview">{{prefill.place}}</a> / <a href="/country/dataset/{{prefill.dataset}}" data-toggle="tooltip" class="count-0" title="Return to dataset results overview">{{datasetNamesMap[prefill.dataset]}}</a></h1>
  {% endif %}
</div>

<p>{% for dataset in datasets %}{% if dataset.id == prefill.dataset %}{{dataset.description}}{% endif %}{% endfor %}</p>

<h3>Data Location</h3>
<a href="{{prefill.url}}">{{prefill.url}}</a>

<h3>Comments</h3>
<p>{{prefill.details | urlize}}</p>

<h3>Data Availability</h3>
{# TODO: Move this out to an include!!! There are 3 copies so far... #}
{% set record_fields = [
  { 'id': 'exists',
    'icon': 'file-alt',
    'label': 'Does the data exist?' },
  { 'id': 'digital',
    'icon': 'save',
    'label': 'Is it in digital form?' },
  { 'id': 'public',
    'icon': 'eye-open',
    'label': 'Is it publicly available?' },
  { 'id': 'free',
    'icon': 'dollar',
    'label': 'Is it free of charge?' },
  { 'id': 'online',
    'icon': 'download',
    'label': 'Is it online?' },
  { 'id': 'machinereadable',
    'icon': 'keyboard',
    'label': 'Is it machine readable?' },
  { 'id': 'bulk',
    'icon': 'copy',
    'label': 'Available in bulk?' },
  { 'id': 'openlicense',
    'icon': 'unlock-alt',
    'label': 'Is it openly licensed?' },
  { 'id': 'uptodate',
    'icon': 'time',
    'label': 'Is it up to date?' }
] %}

<ul class="data-availability clearfix unstyled">
  {% for field in record_fields %}
    {% set state = prefill[field.id] %}
    {% set description = '' %}
    <li>
      <span class="data-icon-wrapper">
        <span class="data-icon {% if state == 'Yes' %}yes{% elif state == 'No' %}no{% elif state == 'Unsure' %}maybe{% endif %}">
          <i class="icon-{{ field.icon }}"></i>
          <span class="text">{{ state }}</span>
        </span>
        {{ field.label }}
      </span>
      {% for qu in ynquestions %}
        {% if qu.id == field.id %}
          <a href="javascript:;" data-toggle="popover" data-content="{{ qu.description }}" data-placement="top">
            <i class="icon-info-sign"></i>
          </a>
        {% endif %}
      {% endfor %}
    </li>
  {% endfor %}
</ul>
<script>jQuery(function(){ jQuery('[data-toggle="popover"]').popover(); });</script>

{% include '_snippets/key.html' %}

<h3>Details</h3>
<table class="table table-striped yntable">
  <tr><td>Date the data became available</td><td>&nbsp;&nbsp;&nbsp;{% if prefill.dateavailable %}{{ prefill.dateavailable }}{% else %}Unknown{% endif %}</td></tr>
  <tr><td>Format of data</td><td>&nbsp;&nbsp;&nbsp;{% if prefill.format %}{{ prefill.format }}{% else %}Unknown{% endif %}</td></tr>
  <tr><td>Contributors</td><td>&nbsp;&nbsp;&nbsp;{% if not prefill.noreviewers %}{% for reviewer in prefill.reviewers %}{% if loop.index>1 %}, {% endif %}{{reviewer}}{% endfor %} (Editors); {% endif %}{% if not prefill.nosubmitters %}{% for submitter in prefill.submitters %}{% if loop.index>1 %}, {% endif %}{{submitter}}{% endfor %} (Submitters){% endif %}</td></tr>
</table>

<script src="{{page.root}}/src/common.js"></script>

{% endblock %}

