{% extends "base.html" %}

{% block title %}
Countries
{% endblock %}

{% block content %}
      <div class="page-header">
        <h1>Open Government Data Census</h1>
      </div>
<div class="row">
  <div class="span6 offset3">
    <div class="alert alert-success">
      This is the 2013 Country Census - an index of the state of open data across the world! It is currently <strong>in progress</strong>. The Census is an initiative of the <a href="http://okfn.org/">Open Knowledge Foundation</a> with entries contributed by advocates and experts from the global <a href="http://okfn.org/opendata/">open data</a> community. If you want to <strong>add, change or improve an entry</strong> please see the <a href="/contribute/">instructions</a> then choose your country or add a new one.
    </div>
  </div>
    <div class="span3 pull-right">
          <br />  <br />  <br /> 
          <a class="btn" href="submit/">
            <i class="icon-plus"></i>
            Add data to the census!
            </a>
        </div>
</div>



      <div class="summary">
        <dl>
          <dt>Number of countries</dt>
          <dd id="nc">{{info.summary.places}}</dd>
          <dt>Number of datasets</dt>
          <dd id="nds">{{info.summary.entries}}</dd>
          <dt>Number of open datasets</dt>
          <dd id="nok">{{info.summary.open}}</dd>
          <dt>Percentage open</dt>
          <dd id="nokpercent">{{info.summary.open_percent}}%</dd>
        </dl>
      </div>
      <div id="spacer"></div>
      <!--<div class="tabbable">  Only required for left/right tabs -->
        
        
<!--        <ul class="nav nav-tabs">
          <li class="active"><a href="#table-overview" data-toggle="tab">Table</a></li>
          li><a href="#map-overview" data-toggle="tab">Map</a></li
        </ul>-->
        <div class="tab-content">
          <div class="tab-pane active" id="table-overview">
            <div class="table">
              <table class="response-summary table table-bordered">
                {% include '_snippets/summary-table.html' %}
              </table>
            </div>
          </div>
          <div class="tab-pane" id="map-overview">
            <div class="map row">
              <div class="span3">
                <ul class="tab-control">
                  <li>
                    <a class="btn active" href="#" id="overallscore" class="control">
                      Overall Score
                    </a>
                  </li>
                  <li>
                    <a class="btn" href="#" class="control" id="opendatasets">
                      Open Datasets
                    </a>
                  </li>
                </ul>
              </div>
              <div class="span9">
                <div class="map-tab tab-content">
                  <div id='map' style='display: none;'></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!--</div>-->
      <p>If you know key datasets from you country:
        <a href="submit/">submit them to the census!</a>
      </p>
    <div class="modal hide fade" id="CountryInfo">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3></h3>
      </div>
      <div class="modal-body">
        <div class="summary clearfix">
          <dl>
            <dt>Number of key datasets</dt>
            <dd id="cnds">0</dd>
            <dt>Number of open key datasets</dt>
            <dd id="cokds">0</dd>
          </dl>
        </div>
        <table style="clear:both"></table>
        <p class="notice">
          Did we miss a dataset? <a href="submit/">Add it to the census!</a>
        </p>
      </div>
    </div>
    <div class="modal hide fade" id="CountryOpenInfo">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3></h3>
      </div>
      <div class="modal-body">
        <h4>Open Datasets</h4>
        <table></table>
      </div>

    </div>
    <div class="modal hide fade" id="CountryDatasetInfo">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3></h3>
      </div>
      <div class="modal-body">
        <table></table>
      </div>

    </div>

    <script src="{{page.root}}/src/common.js"></script>
    <script src="{{page.root}}/src/census.js"></script>
{% endblock %}
