{% extends "base.html" %}

{% block title %}
Country - Access Data
{% endblock %}

{% block content %}
      <div class="page-header">
        <h1>Reviewers: Login</h1>
      </div>

    <div class="alert alert-info" style="text-align: center;">
        Please enter the password
    </div>

      <div>
      <form method='post' >
      Password: <br />
      <input type="password" name="password" />
      <input type="hidden" name="next" value="{{next}}" />
      <br />
      <input type="submit" value="Log In" class="btn btn-small" />
		</form>
		</div>



<script src="{{page.root}}/src/common.js"></script>
{% endblock %}
