{% extends "base.html" %}

{% block title %}
Country - Access Data
{% endblock %}

{% block content %}
      <div class="page-header">
        <h1>Reviewers: Login</h1>
      </div>


    <div class="alert alert-error" style="text-align: center;">
        {% if error %} Password incorrect {% else %}  Please enter the password{% if not redirect %} and select a country to proceed {% endif %}{% endif %}
    </div>

    
    
      <div>
      <form method='post' >
      Password: <br />
      <input type="password" name="password" />
      
      {% if not redirect %} 
      <!-- In case they came from the country page -->
      <br />Country<br />
      <select name="place">
      <option value="">Please select</option>
      {% for thePlace in places %}
        <option value="{{thePlace}}" {% if place and thePlace==place %} selected {% endif %}>{{thePlace}}</option>
      {% endfor %}
      </select>
      {% endif %}
      <br />
      <input type="submit" value="Log In" class="btn btn-small" />
		</form>
		</div>



<script src="{{page.root}}/src/common.js"></script>
{% endblock %}
