{% extends "base.html" %}

{% block title %}
Country - Submit
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Country Open Data Census</h1>
</div>

<form action="" method="POST" class="form">
  <label>Country<br/>
    <select name="place" required>
      <option value="">Please select</option>
      {% for country in countryList %}
      <option value="{{country}}" {% if placeFromQuery == country %}selected="true"{% endif %}>{{country}}</option>
      {% endfor %}
    </select>
  </label>
  <label>Dataset<br/>
    <select name="dataset" id="dataset-select" required>
      <option value="">Please select</option>
      {% for dataset in datasets %}
      <option value="{{dataset.id}}" {% if dataset == datasetFromQuery %}selected="true"{% endif %}>{{dataset.title}}</option>
      {% endfor %}
    </select>

    {% for dataset in datasets %}
    <div class="dataset-description js-dataset-{{dataset.id}}" style="display: none;">
      {{dataset.description}}
    </div>
    {% endfor %}

  </label>
  <label>Census Year<br/>
    <input name="year" type="number" min="2012" max="2013" value="2013" readonly="true" />
  </label>

<hr />

<fieldset>
<legend>Data Availability Questions</legend>

<label>Please answer regarding open data availability *right now*. If data will be released soon you can mention this in the details and comments section below.</label>

<table class="table table-striped yntable">
<thead>
  <tr>
    <td></td>
    <td><label>Yes</label></td> <td><label>No </label></td> <td><label>Unsure</label></td>
    <td></td>
  </tr>
</thead>
<tbody id="dataset-properties">
  {% for qu in ynquestions %}
  <tr {% if loop.index0 != 0 %}class="hide js-dependent"{% endif %}>
    <td>{{qu.question}}?</td>
    <td><input type="radio" name="{{qu.id}}" value="Yes" required></td>
    <td><input type="radio" name="{{qu.id}}" value="No"></td>
    <td><input type="radio" name="{{qu.id}}" value="Unsure"></td>
    <td>
      {{qu.description}}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>
</fieldset>

<fieldset>
  <legend>Follow-ups</legend>
  {% for qu in questions.slice(9, 12) %}
  <label>{{qu.question}}</label>
  <input type="{{qu.type}}" name="{{qu.id}}" value="" />
  <span class="help-block">{{qu.description}}</span>
  {% endfor %}

  <label>Date it became available (optional)<br/>
    <input type="text" name="dateavailable" value="" placeholder="YYYY-MM-DD">
    <span class="help-block">This can be approximate. For example, "2012" or "Jan 2012". If there is a precise date please entere as yyyy-mm-dd format if possible</span>
  </label>
</fieldset>

  <label>Further Information, Details and Comments (optional but strongly encouraged)</label>
  <textarea name="details" class="span8" style="min-height: 150px;"></textarea>
  <span class="help-block">Please add detail here especially regarding data availability. for examplke, is the data partially available, are there plans to make it available in the future? is the data available from an unofficial source.</span>

<fieldset>
  <legend>your information</legend>
  <label>your name (optional)</label>
  <input type="text" name="submitter" value="">
  <span class="help-block">so we can credit you. this will be public.</span>

  <label>link for you (optional)</label>
  <input type="url" name="submitter-url" value="" placeholder="http://">
  <span class="help-block">a link to your website, twitter etc. so we can credit you. this will be public.</span>
</fieldset>

  <button type="submit" class="btn btn-large btn-success" data-loading-text="saving ...">submit</button>
  <p><small>by submitting material to the census you agreeing to <a href="http://okfn.org/terms-of-use/">terms of use</a> and also to license your contribution (to the extent there are any rights in it!) under the <a href="http://opendatacommons.org/licenses/pddl/1.0/">public domain dedication and license</a>.</small></p>

</form>


<script src="{{page.root}}/src/common.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  var $yninputs = $('.yntable .js-dependent');
  $('input[name="exists"]').change(function(){
    var input = $(this);
    if(input.val() !== "Yes") {
      $yninputs.find('input[value="'+ input.val() +'"]')
        .prop('checked', true);
      $yninputs.addClass('hide').slideUp();
    } else {
      $yninputs.hide().removeClass('hide').slideDown();
    }
  });

  $('#dataset-select').change(function(e) {
    e.preventDefault();
    var val = $(e.target).val();
    $('.dataset-description').hide();
    $('.js-dataset-' + val).show();
  });
});
</script>
{% endblock %}

