{% extends "base.html" %}

{% block title %}
{{format("Entry for %(place)s / %(title)s", { place: place.name, title: dataset.title}) }}
{% endblock %}

{% block content %}
<div class="page-header">
  {% if prefill.place %}
  <h1>
    <a href="/place/{{place.id}}" data-toggle="tooltip" class="count-0" title="Go to place overview">{{place.name}}</a> / <a href="/dataset/{{dataset.id}}" data-toggle="tooltip" class="count-0" title="{{gettext("Return to dataset overview")}}">{{dataset.title}}
    </a>

    <span class="pull-right">
      {% include '_snippets/share_page_buttons.html' %}
    </span>

  </h1>
  {% endif %}
</div>

<p>{{dataset.description|marked}}</p>

<h3>{{gettext("Data Location")}}</h3>
<a href="{{prefill.url}}">{{prefill.url}}</a>

<h3>{{gettext("Comments")}}</h3>
<p>{{prefill.details|marked|urlize}}</p>

<h3>{{gettext("Data Availability")}}</h3>
<ul class="data-availability clearfix unstyled">
  {% for qu in scoredQuestions %}
    {% set state = prefill[qu.id] %}
    {% set description = '' %}
    <li>
      <span class="data-icon-wrapper">
        <span class="data-icon {% if state == 'Yes' %}yes{% elif state == 'No' %}no{% elif state == 'Unsure' %}maybe{% endif %}">
          <i class="icon-{{ qu.icon }}"></i>
          <span class="text">{{ state }}</span>
        </span>
        {{ qu.question }}
      </span>
      {% for qu2 in ynquestions %}
        {% if qu2.id == qu.id %}
          <a href="javascript:;" data-toggle="popover" data-content="{{ qu2.description|marked| replace ('\"', '\'') }}" data-placement="top" data-html="true">
            <i class="icon-info-sign"></i>
          </a>
        {% endif %}
      {% endfor %}
    </li>
  {% endfor %}
</ul>
<script>jQuery(function(){ jQuery('[data-toggle="popover"]').popover(); });</script>

{% include '_snippets/key.html' %}

<h3>{{gettext("Details")}}</h3>
<table class="table table-striped yntable">
  <tr><td>{{gettext("Date the data became available")}}</td><td>&nbsp;&nbsp;&nbsp;{% if prefill.dateavailable %}{{ prefill.dateavailable }}{% else %}{{gettext("Unknown")}}{% endif %}</td></tr>
  <tr><td>{{gettext("Format of data")}}</td><td>&nbsp;&nbsp;&nbsp;{% if prefill.format %}{{ prefill.format }}{% else %}{{gettext("Unknown")}}{% endif %}</td></tr>
  <tr><td>{{gettext("Contributors")}}</td><td>&nbsp;&nbsp;&nbsp;{% if not prefill.noreviewers %}{% for reviewer in prefill.reviewers %}{% if loop.index>1 %}, {% endif %}{{reviewer}}{% endfor %} {{gettext("(Editors)")}}; {% endif %}{% if not prefill.nosubmitters %}{% for submitter in prefill.submitters %}{% if loop.index>1 %}, {% endif %}{{submitter}}{% endfor %} {{gettext("(Submitters)")}}{% endif %}</td></tr>
  <tr><td>{{gettext("Last modified")}}</td><td>&nbsp;&nbsp;&nbsp;{% if prefill.timestamp %}{{ prefill.timestamp | dateformat(currentLocale)}}{% else %}{{gettext("Unknown")}}{% endif %}</td></tr>
</table>

<script src="{{page.root}}/src/common.js"></script>

{% endblock %}

