{% macro entrysummary(dataset, place, record, scoredQuestions) -%}
  <td>
      {{ record.ycount }}%
  </td>
  <td{% if record %} data-place="{{ record.place }}" data-dataset="{{ record.dataset }}" data-datasetTitle="{{ dataset.title }}"{% endif %}>
    <ul class="availability icons">
      {% for qu in scoredQuestions %}
        {% set state = record[qu.id] %}
        <a data-toggle="tooltip" title="{{ qu.question }}">
        <li class="{% if state == 'Yes' %}yes{% elif state == 'No' %}no{% elif state == 'Unsure' %}maybe{% endif %}">
          <i class="icon-{{ qu.icon }}"></i>
          <span class="text">{{ state }}</span>
        </li>
        </a>
      {% endfor %}
    </ul>
  </td>
    {% if record and record.url %}
      <td class="recordurl"><a href="{{record.url}}" title="{{record.url}}" target="_blank">{{record.url }}</a></td>
    {% else %}
      <td><!-- No URL given --></td>
    {% endif %}
  <td>
    <ul class="icons">
      <li>
        {% if record and record.dateavailable %}
          <a class="icon-hover" title="Date available: {{ record.dateavailable }}" data-toggle="tooltip"><i class="icon-calendar"></i></a>
        {% else %}
          <a class="icon-hover" data-toggle="tooltip" data-trigger="hover" title="No date available given">
            <i class="icon-calendar icons-nodata"></i>
          </a>
        {% endif %}
      </li>
      <li>
        {% if record and record.format %}
          <a class="icon-hover" title="Data format: {{ record.format }}" data-toggle="tooltip"><i class="icon-file"></i></a>
        {% else %}
          <a class="icon-hover" data-toggle="tooltip" data-trigger="hover" title="No data format given">
            <i class="icon-file icons-nodata"></i>
          </a>
        {% endif %}
      </li>
      <li>
        {% if record and record.details and (record.details | trim | length) > 0 %}
          {% set content = record.details | urlize | replace('\n', '<br>') | replace ('\"', '\'') | wordwrap(100, '\n', true) %}
          <a href="javascript:;" class="count-0" title="Details" data-toggle="popover" data-content="{{ content }}" data-html="true" data-placement="left">
            <i class="icon-info-sign"></i>
          </a>
        {% else %}
          <a class="icon-hover" data-toggle="tooltip" data-trigger="hover" title="No details">
            <i class="icon-info-sign icons-nodata"></i>
          </a>
        {% endif %}
      </li>
    </ul>
  </td>
{%- endmacro  %}

