<thead>
  <tr>
    <th></th>
    {% if info.datasets %}
    {% for dataset in info.datasets %}
      <th><div><a href="/country/dataset/{{dataset.id}}">{{ dataset.titleRotated }}</a></div></th><th style='width: 3px;'></th>
    {% endfor %}
    {% endif %}
    <th><div><strong>Total Score</strong></div>
  </tr>
</thead>
<tbody>
  {% if info.places %}
  {% for place in info.places %}
    {% set placeScore = info.byplace[place].score %}
    <tr data-score="{{placeScore}}"  data-area="{{place}}">
      <th class="area-name">
        {% if place %}
          <a href="/country/overview/{{ place }}/">{{place}}</a>
        {% else %}
          <a href="submit/" data-toggle="tooltip" class="unknown no-data count-0" title="Click here to add to the index!">Add new</a>
        {% endif %}
      </th>
    {% if info.datasets %}
    {% for dataset in info.datasets %}
    {% set record = info.byplace[place].datasets[dataset.id] %}
    <td
      class="
      ycount-{{record.ycount}}
      showpopover
      "
      data-place="{{record.place}}"
      data-dataset="{{record.dataset}}"
      data-datasetTitle="{{dataset.title}}"
      >
        <ul class="availability icons mini">
          {% for field in questions %}
            {% set state = record[field] %}
            <li class="{% if state == 'Y' %}yes{% elif state == 'N' %}no{% elif state == '?' %}maybe{% endif %}" data-toggle="tooltip" title="{{ field.label }}">
              <i class="icon-{{ field.icon }}"></i>
              <span class="text">{{ state }}</span>
            </li>
          {% endfor %}
        </ul>
        {#{% for field in questions %}
          {% set state = record[field.id] %}

        {% endfor %}
        {{ record }}
        <a>{{record.ycount}} / {{info.summary.maxScorePerRecord}}</a>#}
    </td><td></td>
    {% endfor %}
    {% endif %}
    <td class="placescore" data-score="{{placeScore}}"><a>{{placeScore}}</a></td>
  </tr>
  {% endfor %}
  {% endif %}
</tbody>
