{% extends "base.html" %}

{% block title %}G8 Countries{% endblock %}

{% block content %}
      <div class="page-header">
        <h1>G8 Open Data Index<br/>
          <small>Which G8 countries release essential public information as open data?</small>
        </h1>
      </div>

      <p>This page shows how G8 countries perform in the Open Data Index, a global index which tracks which countries and cities around the world release essential public information as open data.</p>

      <p>It was <a href="http://blog.okfn.org/2013/06/14/g8-countries-must-work-harder-to-open-up-essential-data/">launched</a> by the Open Knowledge Foundation to coincide with the <a href="http://en.wikipedia.org/wiki/39th_G8_summit">39th G8 summit</a> in County Fermanagh, Northern Ireland.</p>

      <div class="summary">
        <dl>
          <dt>Number of countries</dt>
          <dd id="nc">{{info.summary.places}}</dd>
          <dt>Number of responses</dt>
          <dd id="nds">{{info.summary.entries}}</dd>
          <dt>Number of open datasets</dt>
          <dd id="nok">{{info.summary.open}}</dd>
          <dt>Percentage open</dt>
          <dd id="nokpercent">{{info.summary.open_percent}}%</dd>
        </dl>
      </div>
      <div id="spacer"></div>

      <div class="pull-left">{% include '_snippets/key.html' %}
      </div>
      <div class="pull-right">
      <a href="/contribute/" class="btn btn-primary">
        <i class="icon-plus"></i> Add data to the index!
      </a>
    </div>

      <div class="table">
        <table class="response-summary table">
          {% include '_snippets/summary-table.html' %}
        </table>
      </div>
    <script src="{{page.root}}/src/common.js"></script>
    <script src="{{page.root}}/src/census.js"></script>
{% endblock %}
