{% macro currentEntry(qu) %}
<div class="current-entry">
  <label>{{gettext("Current Entry")}}</label>
  <div class="current-entry-value">
    {% if current %}
    {% if current.answers[qu.id] %}
    {{current.answers[qu.id]}}
    {% else %}
    {{ gettext("No entry") }}
    {% endif %}
    {% else %}
    {{ gettext("No entry") }}
    {% endif %}
  </div>
</div>
{%- endmacro  %}


{% macro question(qu) -%}
<div class="span6">
  <h4 class="submission-label">{{qu.question}}</h4>
  <input type="{{qu.type}}" title="{{qu.placeholder}}" name="{{qu.id}}" value="{% if current %}{{current.answers[qu.id]}}{% endif %}" {% if canReview != true or reviewClosed %}disabled="disabled"{% endif %} placeholder="{{qu.placeholder}}" {% if qu.id=='format' %} list="formats" {% endif %} />
</div>
<div class="span6">
  {{ currentEntry(qu) }}
</div>
<div class="span12">
  <span class="help-block">{{qu.description}}</span>
</div>
{%- endmacro  %}

<fieldset>
  <div class="row-fluid submission-row head">
    <div class="span12">
      <div class="submission-question">Question</div>
      <div class="submission-option">{{gettext("Yes")}}</div>
      <div class="submission-option">{{gettext("No")}}</div>
      <div class="submission-option">{{gettext("Unsure")}}</div>
      <div class="submission-current">{{gettext("Current")}}</div>
      <div class="submission-info">{{gettext("Information")}}</div>
    </div>
  </div>

  <div class="yntable">
    {% for qu in questions %}
    {% if qu.type == '' %}
    <div class="row-fluid submission-row{% if loop.index0 != 0 %} hide js-dependent{% endif %}">
      <div class="span12">
        <div class="submission-question submission-label">{{ qu.question }}?</div>
        {% for val in [true, false, null] %}
        <div class="submission-option">
          <input type="radio" name="{{qu.id}}" value="{{val}}" {% if current and current.answers[qu.id] == val %}checked="true" {% endif %}class="{{ val }}"{% if canReview != true or reviewClosed %} disabled="disabled"{% endif %} required>
        </div>
        {% endfor %}
        <div class="submission-current">
          {{ current.answers[qu.id] or gettext('No entry') }}
        </div>
        <div class="submission-info">
          <span class="help-block readmore">{{qu.description}}</span>
        </div>
        {% if qu.dependants %}
        {% for dependant in qu.dependants %}
        <div class="row-fluid submission-dependant">
          {{ question(dependant) }}
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

</fieldset>

<fieldset>

  <div class="row">
    <div class="span12">
      <hr />
      <h4>{{addDetails.question}}</h4>
      <span class="help-block">{{addDetails.description}}</span>
    </div>
    <div class="span6">
      <div class="wmd-panel">
        <div id="wmd-button-bar"></div>
        <textarea class="wmd-input" id="wmd-input" name="details" {% if canReview != true or reviewClosed %}disabled="disabled"{% endif %} style="min-height: 150px;">{{current.answers.details}}</textarea>
      </div>
    </div>
    <div class="span6">
      <h4>{{ gettext("Preview")}}</h4>
      <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
    </div>
    <div class="span12">
      {{ currentEntry(addDetails) }}
    </div>
  </div>
</fieldset>


<fieldset class="data-details">
  <datalist id="formats">
    <option value="CSV">
    <option value="Excel">
    <option value="HTML">
    <option value="PDF">
    <option value="json">
    <option value="geojson">
    <option value="shapefiles">
  </datalist>
</fieldset>
