{% import "macros/popovers.html" as popovers %}
{% if is_index %}
  {% set table_id = "places_overview_table_index" %}
  {% set sortby = "rank" %}
{% else %}
  {% set table_id = "places_overview_table" %}
  {% set sortby = "name" %}
{% endif %}
<div class="table-responsive">
  <table id="{{ table_id }}" class="table data-table sexyTable">
    <thead>
      <tr>
        <th class="clickable sort_rank header" title="{{ gettext('Sort by Rank') }}" style="width: 71px;">{{ gettext('Rank') }}</th>
        <th class="clickable sort_place header" title="{{ gettext('Sort by A-Z') }}" style="width: 71px;">{{ gettext('Place') }}</th>
        {% for dataset in datasets %}
          <th class="datasetHeader">
            <div><a href="{{ format('/dataset/%(dataset)s', {dataset: dataset.id}) }}">{{ dataset.name }}</a></div>
          </th>
        {% endfor %}
        <th class="clickable header" style="width: 72px;">{{ gettext('Score') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for place in places|sort(false, false, sortby) %}
        <tr data-rank="{{ place.rank }}" data-score="{{ place.computedRelativeScore}}" data-place="{{ place.id }}" data-name="{{ place.name }}">
          <td class="rank" data-rank="{{ place.rank }}">
            <div>{{ place.rank }}</div>
          </td>
          <td>
            <a href="/place/{{ place.id }}{{ urlContext }}" title="{{ place.name }}">{{place.name}}</a>
          </td>
          {% for dataset in datasets -%}
              <td class="status">
                {% set entry = entries|find({'dataset': dataset.id , 'place': place.id }) %}
                {% set submissions = pending|where({'dataset': dataset.id , 'place': place.id }) %}

                {% if entry -%}
                  {% if submissions|length -%}
                    {% set actionUrl = '/submission/ID'|replace('ID', submissions[0].id) %}
                    {% set actionText = gettext("Review") %}
                    {% set actionClass = 'warning' %}
                  {% else %}
                    {% set actionUrl = '/submit/?place=PL&dataset=DS'|replace('PL', place.id)|replace('DS', dataset.id) %}
                    {% set actionText = gettext("Update") %}
                    {% set actionClass = 'success' %}
                  {%- endif %}
                {% else %}
                  {% if submissions|length -%}
                    {% set actionUrl = '/submission/ID'|replace('ID', submissions[0].id) %}
                    {% set actionText = gettext("Review") %}
                    {% set actionClass = 'warning' %}
                  {% else %}
                    {% set actionUrl = '/submit/?place=PL&dataset=DS'|replace('PL', place.id)|replace('DS', dataset.id) %}
                    {% set actionText = gettext("Add") %}
                    {% set actionClass = 'success' %}
                  {%- endif %}
                {%- endif %}

                {% if entry %}
                  {% set popoverTitle = popovers.popover_comparison_title(dataset, place) %}
                  {% set popoverContent = popovers.popover_comparison_content(entry, place, dataset, questions, gettext, actionUrl, actionText, actionClass, submissionsAllowed, is_index) %}
                  <ul class="availability availability-comparative" data-toggle="popover" title="{% filter escape %}{{ popoverTitle }}{% endfilter %}" data-content="{% filter escape %}{{ popoverContent }}{% endfilter %}">
                  {% for question in questions -%}
                    {% if entry -%}
                      {% set answer = entry.getAnswerValueForQuestion(question) %}
                      {% set pass = 'yes' if question.pass(answer) else 'no' %}
                    {% else %}
                      {% set pass = 'maybe' %}
                    {%- endif %}
                    <li class="{{ pass }}" data-content="{% if (pass != 'maybe') %}{{ pass|capitalize }}{% else %}{{ gettext('No data') }}{% endif %}">&nbsp;</li>
                  {%- endfor %}
                  </ul>
                {% endif %}

                {% if not is_index -%}
                  {% if entry -%}
                    {% if entry.year == surveyYear -%}
                      {% set badgeClass = 'label-success' %}
                    {% elif entry.year == (surveyYear - 1) %}
                      {% set badgeClass = 'label-warning' %}
                    {% else %}
                      {% set badgeClass = 'label-important'%}
                    {%- endif %}

                    <div class="entry-year {{ badgeClass }}" title="{{ entry.updatedAt|dateformat }} ({{ gettext("Submitted by") }} {{ entry.Submitter.fullName() }} {{ gettext("and reviewed by") }} {{ entry.Submitter.fullName() }})">{{entry.year}}</div>
                    {% if submissionsAllowed %}
                      {% if submissions|length %}
                        <span class="pending badge badge-warning" title="{{ gettext("Pending submissions") }}">{{ submissions|length }}</span>
                      {% endif %}
                    {% else %}
                      <i class="muted">None</i>
                    {% endif %}
                  {% else %}
                    {% if submissionsAllowed %}
                      <a href="{{ actionUrl }}" class="btn btn-default btn-sm"{% if submissions|length %} title="{{ gettext("Pending submissions") }}"{% endif %}>
                        {% if submissions|length %}
                          <span class="pending badge badge-warning" title="{{ gettext("Pending submissions") }}">{{ submissions|length }}</span>
                          <span>({{ submissions|length }})</span>
                        {% else %}
                            <i class="fa fa-plus"></i>
                            {{ actionText }}
                        {% endif %}
                      </a>
                    {% else %}
                      <i class="muted">None</i>
                    {% endif %}
                  {%- endif %}
                {% endif %}
              </td>

          {%- endfor %}
          <td class="score" data-score="{{ place.computedRelativeScore }}">
            <span>{{ place.computedRelativeScore }}%</span>
          </td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
  <div id="popover" class="popover fade bottom in" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>
</div>
