<div class="table-responsive">
    <table id="place-slice-table" class="table slice-table data-table table-header-stuck">
        {% if is_index %}
        <colgroup>
          <col style="width:24%">
          <col style="width:23%">
          <col style="width:5%">
          <col style="width:6%">
        </colgroup>
        {% else %}
        <colgroup>
          <col style="width:20%">
          <col style="width:23%">
          <col style="width:5%">
          <col style="width:8%">
          <col style="width:6%">
          <col style="width:4%">
        </colgroup>
        {% endif %}

        <thead class="" style="">
          <tr>
            <th class="clickable">Dataset</th>
            <th>Breakdown</th>
            <th>Info</th>
            {% if not is_index %}
            <th>Year</th>
            {% endif %}
            <th class="clickable">Score</th>
            {% if not is_index %}
            <th class="admin"><span class="sr-only">Admin</span></th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for dataset in datasets %}
            {% set entry = entries|find({'dataset': dataset.id}) %}
            {% set submissions = pending|where({'dataset': dataset.id, 'place': place.id, 'year': year}) %}
            <tr id="{{ dataset.id }}" class="entry" data-rank="{{ entry.rank }}" data-score="{{ entry.computedScore }}" data-place="{{ place.id }}" data-name="{{ place.name }}">
              <td>
                {% if entry -%}<a href="/entry/{{place.id}}/{{dataset.id}}{{ urlContext }}">{%- endif %}
                  {{ dataset.name }}
                {% if entry -%}</a>{%- endif %}
              <td>
                <ul class="availability availability-slice">
                  {% for question in questions %}
                    {% if entry %}
                      {% set answer = entry.getAnswerValueForQuestion(question) %}
                      {% set pass = 'yes' if question.pass(answer) else 'no' %}
                    {% endif %}
                    <li class="{{ pass }}" title="{% if pass == 'yes' %}It's {% elif pass == 'no' %}It's not {% endif %}{{ question.questionshort|lower }}"><i class="fa fa-{{ question.icon }}"></i>&nbsp;</li>
                  {% endfor %}
                </ul>
              </td>
              <td class="info-expander" title="Click for full details">
                <a aria-expanded="false" data-toggle="collapse" data-target="#detail-{{ dataset.id }}" class="collapsed">
                  <i class="fa fa-info-circle"></i>
                </a>
              </td>
              {% if not is_index %}
              <td class="year">
                {% if entry %}
                  <span title="{{ entry.updatedAt|dateformat }} ({{ gettext('Submitted by') }} {{ entry.Submitter.fullName() }}{% if entry.Reviewer %} {{ gettext('and reviewed by') }} {{ entry.Reviewer.fullName() }}{% endif %})">{{ entry.year }}</span>
                {% endif %}
              </td>
              {% endif %}
              <td class="score" data-score="{% if entry %}{{ entry.computedRelativeScore }}{% endif %}">
                {% if entry %}<span>{{ entry.computedRelativeScore }}%</span>{% endif %}
              </td>
              {% if not is_index %}
                <td class="admin">
                {% if submissions|length %}
                  <a class="propose" title="{{ gettext('Sorry, only one submission can be waiting for review at a time - please come back in a few days to submit new information') }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                {% else %}
                  <a href="{{ format('/submit/?place=%(place)s&amp;dataset=%(dataset)s', {place:place.id, dataset:dataset.id}) }}" class="propose" title="{{ gettext('Propose Revisions') }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                {% endif %}
                </td>
              {% endif %}
            </tr>
            {% if entry.details %}
            <tr id="detail-{{ dataset.id }}" class="details collapse">
              <td colspan="6">
                {# hack around tablesorter and our row toggler #}<span style="visibility: hidden;">{{ dataset.name }}</span>
                {% if entry.details %}
                {{ entry.details|marked }}
                {% endif %}
                <br />
              </td>
            </tr>
            {% endif %}

            {% if not is_index %}
            {% for submission in submissions %}
            <tr id="submission-{{dataset.id}}-{{loop.index}}" data-rank="{{entry.rank}}" data-score="{{submission.computedScore}}" data-place="{{place.name}}" class="queued submission submission-{{dataset.id}}">
              <td class="queued-context">
                {# hack around tablesorter and our row toggler #}<span style="visibility: hidden;">{{ dataset.name }}</span>
                <h6><span class="icon">&#8627;</span> Awaiting review</h6>
                <span title="{{ gettext('Submitted by')}} {{ submission.Submitter.firstName}}" class="queued-user">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                  {{ submission.Submitter.firstName }}
                </span>
                <br>
                <span title="{{ gettext('Submitted on')}} {{ submission.createdAt|dateformat }}" class="queued-time">
                  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></i>&nbsp;
                  {{ submission.createdAt|simpledelta }}
                </span>
              </td>
              <td>
                <ul class="availability availability-slice">
                  {% for question in questions %}
                    {% if submission %}
                      {% set answer = submission.getAnswerValueForQuestion(question) %}
                      {% set pass = 'yes' if question.pass(answer) else 'no' %}
                    {% endif %}
                    <li class="{{ pass }}" title="{% if pass == 'yes' %}It's {% elif pass == 'no' %}It's not {% endif %}{{ question.questionshort|lower }}"><i class="fa fa-{{ question.icon }}"></i>&nbsp;</li>
                  {% endfor %}
                </ul>
              </td>
              <td class="info-expander" title="Click for full details">
                  <a data-toggle="collapse" data-target="#detail-submission-{{dataset.id}}-{{loop.index}}" class="collapsed">
                    <i class="fa fa-info-circle"></i>
                  </a>
              </td>
              {% if not is_index %}
              <td class="year">
                {% if submission %}
                  <span title="{{ submission.updatedAt|dateformat }} ({{ gettext('Submitted by') }} {{ submission.Submitter.fullName() }})">{{ submission.year }}</span>
                {% endif %}
              </td>
              {% endif %}
              <td class="score" data-score="{{ submission.computedRelativeScore }}"><span>{{ submission.computedRelativeScore }}%</span></td>
              {% if not is_index %}
              <td class="admin">
                <a href="{{ format('/submission/%(submissionid)s', {submissionid: submission.id}) }}" class="view" title="{{ gettext('View Submission') }}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
              </td>
              {% endif %}
            </tr>
            <tr id="detail-submission-{{dataset.id}}-{{loop.index}}" class="details collapse">
              <td colspan="6">
                {# hack around tablesorter and our row toggler #}<span style="visibility: hidden;">{{ dataset.name }}</span>
                {% if submission.details %}
                {{ submission.details|marked }}
                {% endif %}
                <br />
              </td>
            </tr>
            {% endfor %}
            {% endif %}

          {% endfor %}

        </tbody>
    </table>
</div>
