{% import "macros/popovers.html" as popovers %}

<div class="table-responsive">
  <div class="sexyTableContainer" style="margin: 0px 0px 20px;">
  <div class="sexyDragContainer kinetic-active kinetic-moving-left kinetic-moving-up" style="cursor: move;">
  <table id="places_overview_table" class="table data-table sexyTable" style="margin: 0px;">
    <thead>
      <tr>
        <th class="sort_rank header headerSortDown" title="{{ gettext('Sort by Rank') }}" style="width: 71px;">{{ gettext('Rank') }}</th>
        <th class="sort_place header" title="{{ gettext('Sort by A-Z') }}" style="width: 71px;">{{ gettext('Place') }}</th>
        {% for dataset in datasets %}
          <th>
            <div><span class="dataset-title-context" data-toggle="popover" title="{{ dataset.name }}" data-content="{{ dataset.description|e }}" data-original-title="{{dataset.name}}">{{ dataset.name }}</span></div>
          </th>
        {% endfor %}
        <th class="header" title="{{ gettext('Sort by Score') }}" style="width: 72px;">{{ gettext('Score') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for place in places %}

        <tr data-rank="{{ place.rank }}" data-score="{{ place.computedRelativeScore}}" data-place="{{ place.id }}" data-name="{{ place.name }}">
          <td class="rank" data-rank="{{ place.rank }}">
            <div>{{ place.rank }}</div>
          </td>
          <td>
            <a href="/place/{{ place.id }}{{ urlContext }}" title="{{ place.name }}">{{place.name}}</a>
          </td>
          {% for dataset in datasets -%}

              <td class="status">
                {% set entry = entries|find({'dataset': dataset.id , 'place': place.id }) %}
                {% set submissions = pending|where({'dataset': dataset.id , 'place': place.id }) %}

                {% if entry.year == currentYear -%}
                  {% set badgeClass = 'label-success' %}
                {% elif entry.year == (currentYear - 1) %}
                  {% set badgeClass = 'label-warning' %}
                {% else %}
                  {% set badgeClass = 'label-important'%}
                {%- endif %}

                {% if entry -%}
                  {% if submissions|length -%}
                    {% set actionUrl = '/submission/ID'|replace('ID', submissions[0].id) %}
                    {% set actionText = gettext("Comment") %}
                  {% else %}
                    {% set actionUrl = '/submit/?place=PL&dataset=DS'|replace('PL', place.id)|replace('DS', dataset.id) %}
                    {% if entry -%}
                      {% set actionText = gettext("Update") %}
                    {% else %}
                      {% set actionText = gettext("Add") %}
                    {%- endif %}
                  {%- endif %}
                {% else %}
                  {% if submissions|length -%}
                    {% set actionUrl = '/submission/ID'|replace('ID', submissions[0].id) %}
                    {% set actionText = gettext("Comment") %}
                  {% else %}
                    {% set actionUrl = '/submit/?place=PL&dataset=DS'|replace('PL', place.id)|replace('DS', dataset.id) %}
                    {% set actionText = gettext("Add") %}
                  {%- endif %}
                {%- endif %}

                {% set popoverTitle = popovers.popover_comparison_title(dataset, place) %}
                {% set popoverContent = popovers.popover_comparison_content(entry, place, dataset, questions, gettext, format) %}
                <ul class="availability availability-comparative" data-toggle="popover" title="{% filter escape %}{{ popoverTitle }}{% endfilter %}" data-content="{% filter escape %}{{ popoverContent }}{% endfilter %}">
                {% for question in questions -%}
                  {% if entry -%}
                    {% set answer = entry.getAnswerValueForQuestion(question) %}
                    {% set pass = 'yes' if question.pass(answer) else 'no' %}
                  {% else %}
                    {% set pass = 'maybe' %}
                  {%- endif %}
                  <li class="{{ pass }}" data-content="{% if (pass != 'maybe') %}{{ pass|capitalize }}{% else %}{{ gettext('No data') }}{% endif %}">&nbsp;</li>
                {%- endfor %}
                </ul>
              </td>

          {%- endfor %}
          <td class="score" data-score="{{ place.computedRelativeScore }}">
            <span>{{ place.computedRelativeScore }}</span>
          </td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
  </div>
  </div>
  <div id="popover" class="popover fade bottom in" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>
</div>
