{% extends "base.html" %}

{% block title %}
Cities
{% endblock %}

{% block content %}
      <div class="page-header">
        <h1>City Open Data Census</h1>
      </div>
<div class="row">
  <div class="span6 offset3">
    <div class="alert alert-success">
      The 2013 City Census is currently <strong>in progress</strong>. The Census is an initiative of the <a href="http://okfn.org/">Open Knowledge Foundation</a> with entries contributed by advocates and experts from the global <a href="http://okfn.org/opendata/">open data</a> community. If you want to find out how to <strong>add, change or improve an entry</strong> please see the <a href="/contribute/">instructions</a>.
    </div>
  </div>
</div>
      <div class="summary">
        <dl>
          <dt>Number of cities</dt>
          <dd id="nc">{{info.summary.places}}</dd>
          <dt>Number of datasets</dt>
          <dd id="nds">{{info.summary.entries}}</dd>
          <dt>Number of open datasets</dt>
          <dd id="nok">{{info.summary.open}}</dd>
          <dt>Percentage open</dt>
          <dd id="nokpercent">{{info.summary.open_percent}}%</dd>
        </dl>
      </div>
      <div id="spacer"></div>
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <div class="span3 pull-right">
          <a class="btn" href="submit/">
            <i class="icon-plus"></i>
            Add data to the census!
            </a>
        </div>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#table-overview" data-toggle="tab">Table</a></li>
<!--           <li><a href="#map-overview" data-toggle="tab">Map</a></li> -->
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="table-overview">
            <div class="table">
              <table id="city-table" class="response-summary table table-bordered">
                {% include '_snippets/summary-table.html' %}
              </table>
            </div>
          </div>
        </div>
      </div>
      <p>If you know key datasets from your city:
        <a href="submit/">submit them to the census!</a>
      </p>

    </div>

    <script src="{{page.root}}/src/common.js"></script>
    <script src="{{page.root}}/src/city.js"></script>
{% endblock %}
