<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title%}{{title}}{% endblock %}
      - {{ sitename }}</title>
    <meta name="author" content="Open Knowledge Foundation">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.min.js"></script>
    <![endif]-->

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <script src="/vendor/chroma.pack.min.js"></script>

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body class="{% block bodyclass %}{% endblock %}">
<div class="wrapper">
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">{{ sitename }}</a>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a  href="/country/">Countries <!-- <b class="caret"></b> --> </a></li>
        <li><a href="/about/">About</a></li>
        {% if not readonly %}<li><a href="/faq/">FAQ</a></li>
        <li><a href="/contribute/">Contribute</a></li>
        {% else %}
        <li><a href="/contributors/">Contributors</a></li>
        {% endif %}
      </ul>
      <a class="nav-logo pull-right" href="http://okfn.org/" title="An Open Knowledge Foundation Project" target="_blank">
        <img src="//assets.okfn.org/images/logo/okfn-logo-landscape-black.png" alt="Open Knowledge Foundation logo" style="height:30px;" />
      </a>
    </div>
  </div>
</div>

<div class="container">
<div class="content">
  <div class="page">
    {% if error_messages.length > 0 %}
    <div class="flash alert alert-error">
      {{ error_messages }}
    </div>
    {% endif %}
    {% if info_messages.length > 0 %}
    <div class="flash alert alert-info">
      {{ info_messages }}
    </div>
    {% endif %}

    {% block content %}{{content}}{% endblock %}
  </div>
  </div><!-- /content -->
</div><!-- /container -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span6">
        <p>
          The {{ sitename }} is an initiative of the <a
            href="http://okfn.org">Open Knowledge Foundation</a> and its <a
            href="http://okfn.org/wg/">Working Groups</a> and <a
            href="http://okfn.org/local/">Local Groups</a>.
        </p>
        <p>
          The {{ sitename_short }} results are contributed by advocates and
          experts from the <a href="http://okfn.org/opendata/">open data</a>
          community around the world.
          {% if not readonly %}
          If you think there is something that we should add or change please
          see the <a href="/contribute/">contributor page</a>.
          {% endif %}
        </p>
    <p>
      <a href="http://opendefinition.org/ossd/" title="Open Online Software Service" style="border:none;">
        <img src="//assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" alt="" border="" />
      </a>
      <a href="http://opendefinition.org/okd/" title="Open Definition" style="border:none;">
        <img src="//assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" alt="" border="" />
      </a>
      <a href="http://opendefinition.org/okd/" title="Open Definition" style="border:none;">
        <img src="//assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="" border="" />
      </a>
    </p>
      </div>
      <div class="span6">
        <ul class="pull-right">
          {% if readonly %}
          <li><a href="mailto:index@okfn.org" title="Contact us">Contact us</a></li>
          <li><a href="mailto:index@okfn.org?Subject=Open%20Data%20Index%20issue%20report" title="Report issues">Report issues</a></li>
          {% else %}
          <li><a href="mailto:census@okfn.org" title="Contact us">Contact us</a></li>
          <li><a href="https://github.com/okfn/opendatacensus/issues" title="Report issues">Report issues</a></li>
          {% endif %}
          <li><a href="http://okfn.org/opendata/" title="More about Open Data">Open Data</a></li>
          <li><a href="https://github.com/okfn/opendatacensus/">Source code</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% if readonly %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-33874954-22', 'okfn.org');
  ga('send', 'pageview');
</script>
{% else %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8271754-48']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
</body>
</html>
