{% extends "base.html" %}

{% block title %}
{{gettext("Recent Changes")}}
{% endblock %}

{% block content %}
<h1>{{gettext("Submissions to be reviewed")}}</h1>

{% if submissions %}
<ul>
  {% for submission in submissions %}
  <li>
    <a href="/submission/{{submission.submissionid}}">{{submission.dataset_title}}</a> – {{submission.place_name}} <em>({{submission.timestamp | dateformat(currentLocale, 'Do MMM YYYY')}})</em>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>{{gettext("There are no submissions awaiting review.")}}</p>
{% endif %}

<h1>{{gettext("Recent Entries")}}</h1>

{% if entries %}
<ul>
  {% for entry in entries %}
  <li>
    <a href="{{entry.details_url}}">{{entry.dataset_title}}</a> – {{entry.place_name}} <em>({{entry.timestamp | dateformat(currentLocale, 'Do MMM YYYY')}})</em>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>{{gettext("There are no entries in this census.")}}</p>
{% endif %}

{% endblock %}
