{% extends "base.html" %}

{% block title %}
{{gettext("Recent Changes")}}
{% endblock %}

{% block content %}
<h1>{{gettext("Changelog")}}</h1>
<p>
    {{ gettext("A log of the most recent submission and entry activity.") }}
</p>
<ul class="change-list">
    {% for item in changeitems %}
    <li>
        <h5>
            <strong>{% if item.status == 'accepted' %}{{ gettext('Entry') }}{% else %}{{ gettext('Submission') }}{% endif %}</strong>
            <span class="label label-{% if item.status == 'accepted' %}success{% elif item.status == 'rejected' %}important{% else %}info{% endif %}">
            {% if item.status %}{{ item.status }}{% else %}{{ gettext("new") }}{% endif %}
            </span>
        </h5>
        <a href="{{ item.url }}">
           <strong>{{ item.dataset_title }} – {{ item.place_name }}</strong>
        </a>
        <br />
        <span class="changelist-date">
            {{ gettext("On") }} {{ item.timestamp | dateformat(currentLocale, 'Do MMM YYYY') }} {{ gettext("submitted by") }} {{ item.submitter }} {% if item.status == 'accepted' %}{{ gettext("and reviewed by") }} {{ item.reviewer }}{% endif %}</span>
    </li>
    {% endfor %}
</ul>

{% endblock %}
