{% extends "base.html" %}

{% block title %}
Contributors
{% endblock %}

{% block content %}
<h1>Country {{ sitename }} - Contributors</h1>

We want to thank the following people for submitting and editing data for the {{ sitename }}:
<div class="page-header">
<h4>Editors: </h4>
</div>
<table style="width: 100%;">
  <tr>
  <td style="vertical-align: top;">
  {% if reviewers %}
    {% for reviewer in reviewers %}
      {% if (loop.index)%22 == 0 %}</td><td style="vertical-align: top;">{% endif %}
        {{reviewer}}<br />
    {% endfor %}
  {% endif %}
  </td>
  </tr>
</table>
{# removed from census until we clean spreadsheet and add a captcha #}
{% if readonly %}
<div class="page-header">
<h4>With submissions from: </h4>
</div>
<table>
  <tr>
  <td style="vertical-align: top;">
  {% if submitters %}
    {% for submitter in submitters %}
      {% if (loop.index)%55 == 0 %}</td><td style="vertical-align: top;">{% endif %}
        {{submitter}}<br />
    {% endfor %}
  {% endif %}
  </td>
  </tr>
</table>
{% endif %}
<br />

{% endblock %}
