{% extends "base.html" %}

{% block title %}
Country - Contributors
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Country Open Data Index - Contributors</h1>
</div>

We want to thank the following people for submitting and editing data for the index:
<table style="width: 100%;">
  <tr>
    <td style="column-span: all;">
      <h4>Editors: </h4>
    </td>
  </tr>    
  <tr>
  {% for reviewer in reviewers %}
    {% if (loop.index-1)%4 == 0 %}</tr><tr>{% endif %}
      <td>{{reviewer}}</td>
  {% endfor %}
  </tr>
  <tr>
    <td style="column-span: all;">
      <h4>With submissions from: </h4>
    </td>
  </tr>
  <tr>
  {% for submitter in submitters %}
    {% if (loop.index-1)%4 == 0 %}</tr><tr>{% endif %}
      <td>{{submitter}}</td>
  {% endfor %}
  </tr>
</table>

{% endblock %}
