{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<style type="text/css">
  .navbar {
	  border-bottom-style:none;
  }
</style>

<div class="dashboard">
  <div class="inner">
    <div class="row">
      <div class="span4">
        <p>&nbsp;</p>
        <a href="country/" class="bignumber" id="tds">{% for char in numberCountries %}<span>{{char}}</span>{% endfor %}</a> <p>Countries in the the <a href="/country/">index</a></p>
      </div>
      <div class="span8">
        <p>&nbsp;</p>
        <a href="country/" class="bignumber" id="nok">{% for char in numberOpen %}<span>{{char}}</span>{% endfor %}</a>
        <span class="between-numbers">of</span>
        <a href="country/" class="bignumber"
          id="nds">{% for char in numberEntries %}<span>{{char}}</span>{% endfor %}</a> <p>key datasets in the<br /><a href="/country/">index</a> are open</p>
      </div>
      <!-- <div class="span4">
        <p>&nbsp;</p>
        <a href="catalogs/" class="bignumber" id="tds">{% for char in numberCatalogs %}<span>{{char}}</span>{% endfor %}</a> <p>Open Data Catalogs</p>
      </div> -->
    </div>
  </div>
</div>
<section class="home-content">
  <div class="row">
    <div class="span8">
      <h4><strong>The open data index</strong> is an initiative of the <a href="http://okfn.org/">Open Knowledge Foundation</a> that assesses the <strong>state of <a href="http://okfn.org/opendata/">open data</a> around the world</strong>. This site hosts the index and presents the results along with other key facts about the state of open data and especially open government data.<!-- <a href="about/">Find out more &raquo;</a> --></h4>
      <br /><p>Here some other text will go which describes the index in more detail and thanks the many contributors who took part.Here some other text will go which describes the index in more detail and thanks the many contributors who took part. Here some other text will go which describes the index in more detail and thanks the many contributors who took part.</p>
    </div>
    <div class="span4">
      <!-- <a href="country/" class="link well" style="background-image:url(css/census-map.png);">
        <span class="ribbon">Country Index</span>
      </a> -->
      <img src="/css/rating-preview.png" width="300" height="127" alt="" />
    </div>
    <!-- <div class="span4">
      <a href="catalogs/" class="link well" style="background-image:url(css/map.png);">
        <span class="ribbon">Map of datacatalogs</span>
      </a>
    </div> -->
  </div>
  <div class="row stat-pods">
    <div class="span4">
      <a class="stat-pod man"><h4 class="highlight-bg">{{numberSubmissions}} submissions</h4></a>
    </div>
    <div class="span4">
      <a class="stat-pod woman"><h4 class="highlight-bg">{{numberEditors}} editors</h4></a>
    </div>
    <div class="span4">
      <a class="stat-pod megaphone" href="#"><h4 class="highlight-bg">Press Release</h4></a>
    </div>
  </div>
</section>
<script>
	$(window).scroll(function(e){
		$el = $('.navbar');
		if ($(this).scrollTop() > 1 && $el.css('border-bottom-style') != 'solid'){
		$('.navbar').css({'border-bottom-style': 'solid'});
		}
		if ($(this).scrollTop() < 1 && $el.css('border-bottom-style') == 'solid') {
		$('.navbar').css({'border-bottom-style': 'none'});
		}
	});
</script>
{% endblock %}
