{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}

  <div class="page-header">
    <div class="summary featured">
      <dl>
        <dt>Number of places</dt>
        <dd id="nc">{{ summary.places }}</dd>
        <dt>Number of datasets</dt>
        <dd id="nds">{{ summary.entries }}</dd>
        <dt>Number of open datasets</dt>
        <dd id="nok">{{ summary.open }}</dd>
        <dt>Percentage <a href="http://okfn.org/opendata/">open</a></dt>
        <dd id="nokpercent">{{ summary.open_percent }}%</dd>
      </dl>
    </div>
  </div>

  {{ custom_text }}

  <div class="pull-left">{% include '_snippets/key.html' %}
  </div>
  {% if not readonly %}
  <div class="pull-right">
    <a href="/contribute/" class="btn btn-primary">
      <i class="icon-plus"></i> Add data to the {{ sitename_short }}!
    </a>
  </div>
  {% endif %}

  <table class="response-summary table">
    {% include '_snippets/summary-table.html' %}
  </table>

  <div class="pull-left">
  {% include '_snippets/key.html' %}
  </div>
  <script src="{{page.root}}/vendor/sticky.min.js"></script>
  <script src="{{page.root}}/src/common.js"></script>
  <script src="{{page.root}}/src/census.js"></script>
{% endblock %}
