{% extends "base.html" %}

{% block title %}
Press Release
{% endblock %}

{% block content %}
<div style="width: 75%">
  <h1>Press Release</h1>

  <hr>

  <h2>
    <strong>
      Government data still not open enough&mdash;new survey on eve of
      London summit
    </strong>
  </h2>

  <h4 style="margin-bottom: 10px;">
    <i>
      Open Data Index provides first major assessment of state of open government data
    </i>
  </h4>

  <p>
    In the week of a major international summit on government transparency in
    London, the Open Knowledge Foundation has published its 2013 Open Data Index,
    showing that governments are still not providing enough information in an
    accessible form to their citizens and businesses.
  </p>

  <p>
    The UK and US top the 2013 Index, which is a result of community-based surveys
    in 70 countries. They are followed by Denmark, Norway and the Netherlands. Of
    the countries assessed, Cyprus, St Kitts &amp; Nevis, the British Virgin
    Islands, Kenya and Burkina Faso ranked lowest. There are many countries where
    the governments are less open but that were not assessed because of lack of
    openness or a sufficiently engaged civil society. This includes 30 countries
    who are members of the Open Government Partnership.
  </p>

  <p>
    The Index ranks countries based on the availability and accessibility of
    information in ten key areas, including government spending, election results,
    transport timetables, and pollution levels, and reveals that whilst some good
    progress is being made, much remains to be done.
  </p>

  <p>
    Rufus Pollock, Founder and CEO of the Open Knowledge Foundation said: 
  </p>

  <blockquote>
    <p>
        Opening up government data drives democracy, accountability and
        innovation. It enables citizens to know and exercise their rights, and it
        brings benefits across society: from transport, to education and health.
        There has been a welcome increase in support for open data from
        governments in the last few years, but this Index reveals that too much
        valuable information is still unavailable.
    </p>
  </blockquote>

  <p>
    The UK and US are leaders on open government data but even they have room for
    improvement: the  US for example does not provide a single consolidated and
    open register of corporations, while the UK Electoral Commission lets down the
    UK’s good overall performance by not allowing open reuse of UK election data.
  </p>

  <p>
    There is a very disappointing degree of openness of company registers across
    the board: only 5 out of the 20 leading countries have even basic information
    available via a truly open licence, and only 10 allow any form of bulk
    download. This information is critical for range of reasons - including
    tackling tax evasion and other forms of financial crime and corruption.
  </p>

  <p>
    Less than half of the key datasets in the top 20 countries are available to
    re-use as open data, showing that even the leading countries do not fully
    understand the importance of citizens and businesses being able to legally and
    technically use, reuse and redistribute data. This enables them to build and
    share commercial and non-commercial services.
  </p>

  <p>Pollock:</p>

  <blockquote>
    <p>
      For the true benefits of open data to be realised, governments must do more
      than simply put a few spreadsheets online. The information should be easily
      found and understood, and should be able to be freely used, reused and
      shared by anyone, anywhere, for any purpose.
    </p>
  </blockquote>

  <p><strong>/ Ends</strong></p>

  <hr>

  <p>
    <strong>CONTACT:</strong> Open Knowledge Foundation on +44 (0)1223 422159 or
    <a href="mailto:index@okfn.org">index@okfn.org</a>.
  </p>

  <p>
    To see the full results: <a
      href="//index.okfn.org">https://index.okfn.org</a>. For graphs of the data:
    <a
      href="//index.okfn.org/visualisations">https://index.okfn.org/visualisations</a>.
    Password protected until 00:01GMT 28 October 2013.
  </p>

  <h3>Notes for editors</h3>

  <p>
    The Open Data Index is a community-based effort initiated and coordinated by
    the Open Knowledge Foundation. The Index is compiled using contributions from
    civil society members and open data practitioners around the world, which are
    then peer-reviewed and checked by expert open data editors. The Index provides
    an independent assessment of openness in the following areas: transport
    timetables; government budget; government spending; election results; company
    registers; national map; national statistics; legislation; postcodes / ZIP
    codes; emissions of pollutants.
  </p>

  <p>
    Countries assessed (in rank order): United Kingdom, United States, Denmark,
    Norway, Netherlands, Australia, Finland, Sweden, New Zealand, Canada, Iceland,
    Moldova, Bulgaria, Malta, Italy, France, Austria, Portugal, Slovenia,
    Switzerland, Israel, Czech Republic, Spain, Ireland, Greece, Croatia, Isle Of
    Man, Japan, Serbia, Russian Federation, Ecuador, South Korea, Poland, Taiwan
    R.O.C., China, Indonesia, Hungary, Brazil, Germany, Mexico, Jersey, Guernsey,
    Slovak Republic, Bermuda, Romania, Costa Rica, Bangladesh, Tunisia, Singapore,
    Lithuania, South Africa, Cayman Islands, Egypt, Nepal, Senegal, Saudi Arabia,
    Nigeria, Gibraltar, Belgium, Hong Kong, Barbados, Bahamas, India, Bahrain,
    Yemen, Burkina Faso, Kenya, British Virgin Is.,  Saint Kitts &amp; Nevis,
    Cyprus. <strong>NB: a number of countries were not assessed, often because
    they were not open enough to have an active civil society able or free to
    safely carry out the research.</strong>
  </p>

  <p>
    <u>Open Data</u> is information which can be freely used, reused and shared by
    anyone, anywhere, for any purpose. Truly open data demands a range of both
    technical and legal qualities which ensure that anyone can reuse it freely,
    for maximum benefit, and the Open Data Index assesses all of these.  The Open
    Definition sets out the principles which define “openness” in relation to data
    and content: <a
      href="http://opendefinition.org/">http://opendefinition.org/</a>.
  </p>

  <p>
    The <u>Open Knowledge Foundation</u> is an international non-profit working to
    open up information around the world so it can be used to empower citizens and
    organizations to build fair and sustainable societies. See: <a
      href="http://okfn.org">http://okfn.org</a>.
  </p>

  <p>
    The annual summit for the <u>Open Government Partnership</u> will take place
    in London on 31st October to 1st November. More details at:
    <a
      href="http://www.opengovpartnership.org/">http://www.opengovpartnership.org/</a>.
  </p>
</div>
{% endblock %}
