body.form {

  textarea,
  input,
  select,
  a:active,
  a:focus {
    outline: none;
  }

  section,
  .form-header,
  .form-footer {
    border-bottom: solid $ui-border $text-color;

    .container {
      padding-top: $grid-gutter-width;
      padding-bottom: $grid-gutter-width;

      & > .alert {
        font-size: 0.9em;
        @include make-md-column(8);
        @include make-md-column-offset(2);

        .close {
          right: auto;
        }
      }
    }

    .intro {
      @include make-row();

      @media (min-width: $screen-md-min) {
        margin-bottom: $grid-gutter-width;
      }

      h1 {
        @include make-md-column(6);
        @include make-md-column-offset(3);
        margin: 0;

        @media (min-width: $screen-md-min) {
          margin-top: 20px;
        }
      }

      p {
        clear: left;
        @include make-md-column(6);
        @include make-md-column-offset(3);
        font-size: 16px;
        margin-top: 10px;
      }
    }

    .question {
      clear: both;
      @include make-row();
      padding-top: $grid-gutter-width;
      @media (min-width: $screen-md-min) {
        padding-bottom: $grid-gutter-width;
      }

      h2 {
        font-size: 26px;
        margin-top: 0;
        margin-bottom: 0.6em;
      }

      h3, &.sub h2 {
        font-size: 20px;
        margin-top: 0;
      }

      .instructions {
        @include make-md-column(4);
        clear: left;
        text-align: right;
        font-size: 14px;

        div {
          text-align: left;
          background-color: $text-color;
          z-index: 1;
          padding: $grid-gutter-width*0.75;
          margin-bottom: $grid-gutter-width;

          h4 {
            margin-top: 0;
          }

          :last-child {
            margin-bottom: 0;
          }

          @media (min-width: $screen-md-min) {
            position: absolute;
            top: -20%;

            &:after {
              content: '';
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 8px 0 8px 8px;
              border-color: transparent transparent transparent $text-color;
              position: absolute;
              top: 10px;
              right: -8px;
            }
          }

          &.in,
          &.collapsing {
            color: #fff;

            & + .toggle {
              @media (min-width: $screen-md-min) {
                position: relative;
                z-index: 2;
              }

              .icon {
                background-color: #fff;
                top: 5px;
                right: 25px;
                @media (min-width: $screen-md-min) {
                  top: auto;
                  right: auto;
                }

                &:after {
                  content: 'x';
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  color: $text-color;
                  line-height: 1.3;
                }
              }
            }
          }
        }

        .toggle {
          .icon {
            background-color: $gray-light;
            color: #fff;
            width: 20px;
            height: 20px;
            line-height: 20px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            margin-top: 5px;
            position: absolute;
            top: -20px;
            right: 20px;
            z-index: 2;

            @media (min-width: $screen-md-min) {
              position: relative;
              top: auto;
              right: auto;
              z-index: auto;
            }
          }
        }

        & + h2,
        & + h3,
        & + h4,
        & + p {
          @include make-md-column(8);

          & ~ p {
            @include make-md-column(8);
            @include make-md-column-offset(4);
          }
        }
      }

      .current {
        @include make-md-column(4);
        clear: left;
        position: relative;
        display: none;

        @media (min-width: $screen-md-min) {
          display: block;
        }

        dl {
          border: solid 2px rgba($gray-light, 0.2);
          margin-top: $grid-gutter-width;
          margin-left: 0;
          margin-right: 0;
          padding: $grid-gutter-width/8 0;

          @media (min-width: $screen-md-min) {
            border-top: none;
            border-left: none;
            border-bottom: none;
            margin: -2px 0 0 0;
            padding: $grid-gutter-width/4 0 $grid-gutter-width/8 0;
          }

          dt {
            font-size: 13px;
            font-weight: normal;
            padding-left: 1em;

            @media (min-width: $screen-md-min) {
              position: absolute;
              bottom: 100%;
              padding-left: 0.1em;
            }
          }

          dd {
            display: block;
            font-size: 0.9em;
            padding: 0.5em 1em;
            margin: $grid-gutter-width/2;
            border: solid $ui-border $text-color;
            word-wrap: break-word;

            @media (min-width: $screen-md-min) {
              margin: 0 $grid-gutter-width $grid-gutter-width/4 0;
            }

            ul {
              margin: 0;
              padding: 0;

              li {
                display: block;

                &:nth-child(2) {
                  border-top-style: solid;
                  border-width: $ui-border;
                  border-color: inherit;
                  margin-top: 0.4em;
                  padding-top: 0.4em;
                }
              }
            }
          }

          & > * {
            opacity: 0.2;
          }

          &:hover {
            & > * {
              opacity: 1;
            }
          }
        }

        &.changed {
          display: block;

          dl {
            border-color: $gray-light;

            & > * {
              opacity: 1;
            }
          }
        }
      }

      .answer-wrapper {
        @include make-md-column(8);
      }

      .main {
        @include make-md-column(9);
        padding: 0;
      }

      .comments {
        @include make-md-column(3);

        label {
          color: $gray-light;
          margin-top: $grid-gutter-width/2;

          @media (min-width: $screen-md-min) {
            margin-top: 0;
            padding-left: 18px;
            height: 0;
            width: 0;
            overflow: hidden;
            position: absolute;
            top: -$grid-gutter-width;
          }
        }
        textarea {
          width: 100%;
          padding: 15px 20px;
          resize: none;
          border: none;
          border: solid 2px $gray-light;
          margin-bottom: $grid-gutter-width;
          background-color: transparent;
          font-size: 14px;

          @media (min-width: $screen-md-min) {
            margin-top: -10px;
            margin-left: -2px;
            margin-bottom: 0;
            border: none;
          }

          &:focus {
            background-color: $gray-lighter;
          }
        }
      }


      @mixin fauxButton () {
        display: block;
        border-style: solid;
        border-color: $text-color;
        border-width: $ui-border $ui-border/2;
        cursor: pointer;
        font-size: 20px;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        text-align: center;
        font-weight: bold;
        margin-bottom: 0.5em;
      }

      &.yes-no {
        .answer {
          display: table;
          width: 100%;
          table-layout: fixed;

          input {
            display: none;

            &:checked {

              & + label span {
                background-color: $text-color;
                color: $body-bg;
              }
            }
          }

          label {
            display: table-cell;
            text-align: center;
            font-weight: normal;

            span {
              @include fauxButton;
            }

            em {
              display: none;
            }

            &:first-of-type {
              text-align: left;
              span {
                border-left-width: $ui-border;
              }
              em {
                display: block;
              }
            }

            &:last-of-type {
              text-align: right;
              span {
                border-right-width: $ui-border;
              }
              em{
                display: block;
              }
            }
          }
        }

        .current {
          dd {
            font-weight: bold;
            text-align: center;
          }
        }
      }

      &.scale {
        .answer {
          display: table;
          width: 100%;
          table-layout: fixed;

          input {
            display: none;

            &:checked {

              & + label span {
                background-color: $text-color;
                color: $body-bg;
              }
            }
          }

          & > span {
            display: table-cell;
            text-align: center;
            font-weight: normal;

            label {
              display: block;
            }

            span {
              @include fauxButton;
            }

            em {
              display: none;
            }

            &:first-of-type {
              text-align: left;
              span {
                border-left-width: $ui-border;
              }
              em {
                display: block;
              }
            }

            &:last-of-type {
              text-align: right;
              span {
                border-right-width: $ui-border;
              }
              em{
                display: block;
              }
            }
          }
        }

        .current {
          dd {
            font-weight: bold;
            text-align: center;
          }
        }
      }

      &.source {
        .answer {
          display: table;
          width: 100%;

          ul {
            display: table-row;

            li {
              display: table-cell;
              padding: 2px;

              input {
                width: 100%;
                border: solid $ui-border $text-color;
                padding: 4px 8px;
              }

              .select {
                display: block;
                border: solid $ui-border $text-color;
                padding: 4px 2px 4px 0;

                select {
                  width: 100%;
                  border:none;
                  background-color: #fff;
                }
              }
            }

            &:nth-child(n+2) {
              label {
                display: none;
              }
            }
          }

          .add {
            color: $gray-light;
            display: inline-block;
            margin-top: 0.25em;

            &:before {
              content: '+';
              font-weight: bold;
            }
          }
        }
      }

      &.select {
        .answer {
          border: solid $ui-border $text-color;
          font-size: 18px;
          font-weight: bold;
          padding: 0.6em 0.5em;
          position: relative;

          select {
            width: 100%;
            border:none;
            background-color: #fff;
            -webkit-appearance:none;
            -moz-appearance: none;
            line-height: normal;
          }

          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 5px 0 5px;
            border-color: $text-color transparent transparent transparent;
            display: block;
            position: absolute;
            pointer-events: none;
            right: 1em;
            top: 50%;
            margin-top: -2px;
          }
        }
        .current {
          dd {
            font-weight: bold;
          }
        }
      }

      &.multiple {
        .answer {
          ul {
            margin: 0 -5px;
            padding: 0;

            li {
              display: block;
              padding: 5px;

              label {
                display: block;
                border: solid $ui-border $text-color;
                font-size: 18px;
                padding: 0.5em;
                margin: 0;
                cursor: pointer;

                .letter {
                  display: inline-block;
                  border: solid 2px $text-color;
                  width: 1.95em;
                  text-align: center;
                  border-radius: 4px;
                  opacity: 0.7;
                  font-size: 14px;
                  padding: 0.15em;
                  float: left;
                  overflow: hidden;
                  position: relative;

                  &:after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    text-indent: 0;
                    padding-top: 0.25em;
                    font-family: 'Glyphicons Halflings';
                    font-style: normal;
                    font-weight: normal;
                    line-height: 1;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                  }
                }

                .description {
                  display: block;
                  margin-left: 2em;
                }
              }

              input {
                display: none;

                &:checked {
                  & + label {
                    background-color: $text-color;
                    color: #fff;

                    .letter {
                      border-color: #fff;
                      opacity: 1;
                      text-indent: -4em;

                      &:after {
                        display: block;
                        content: "\e013";
                      }
                    }
                  }
                }
              }
            }
          }

          &.short ul li {
            @include make-md-column(6);
            padding: 5px;
          }
        }
        .current {
          dd {
            font-weight: bold;
          }
        }
      }

      &.text .answer, .text.other .answer {
        textarea,
        input[type="text"] {
          width: 100%;
          border: solid $ui-border $text-color;
          padding: $grid-gutter-width/2;
          font-size: 16px;
          max-width: 100%;
        }

        .current {
          dd {
            font-size: 0.8em;
            max-height: 11em;
            overflow: auto;
          }
        }
      }

      &.submit {
        button {
          background-color: $text-color;
          color: #fff;
          border: none;
          font-size: 18px;
          padding: $padding-large-vertical $grid-gutter-width;
          margin-top: 1.2em;

          &.reject {
            background-color: $brand-danger;
          }

          & + button {
            margin-left: $grid-gutter-width/2;
          }
        }
      }

      &.sub, .sub {
        padding-top: 0;
        padding-bottom: $grid-gutter-width/2;

        &.scale,
        &.yes-no {
          .answer {
            & > label,
            & > span {
              span {
                border-width: $ui-border-sub $ui-border-sub/2;
                font-size: 16px;
              }

              &:first-of-type {
                span {
                  border-left-width: $ui-border-sub;
                }
              }

              &:last-of-type {
                span {
                  border-right-width: $ui-border-sub;
                }
              }
            }
          }
        }
        &.source {
          .answer {
            ul {
              li {
                input {
                  border-width: $ui-border-sub;
                }

                .select {
                  border-width: $ui-border-sub;
                }
              }
            }
          }
        }

        &.text .answer {
          textarea,
          input[type="text"] {
            border-width: $ui-border-sub;
            font-size: 14px;
          }
          input[type="text"] {
            padding-top: $grid-gutter-width*0.25;
            padding-bottom: $grid-gutter-width*0.25;
          }
        }

        .current {
          dl {
            font-size: 0.9em;

            dd {
              border-width: $ui-border-sub;
              padding-top: 0.3em;
              padding: 0.3em 0.8em;
            }
          }
        }
      }

      &.continuation {
        margin-top: -$grid-gutter-width;
      }

      &.first {
        .comments {
          label {
            height: auto;
            width: auto;
          }
        }
      }

      &.disabled {
        opacity: 0.2;
      }
    }
  }

  .form-header {
    .container > div {
      @include make-row();
    }

    .primary-meta {
      @include make-md-column(6);
      @include make-md-column-offset(3);
    }

    .secondary-meta {
      @include make-md-column(3);

      @media (min-width: $screen-md-min) {
        text-align: right;
        margin-top: 27px;
      }

      dl {
        text-align: left;
        background-color: $text-color;
        color: #fff;
        margin: 0;
        padding-bottom: 0.3em;

        @media (min-width: $screen-md-min) {
          display: inline-block;
        }

        dd {
          font-size: 0.8em;
          padding: 2px 12px;
        }

        dt {
          @include sr-only;

          &.status {
            & + dd {
              font-size: 1em;
              text-transform: capitalize;
              background-color: $brand-warning;
              padding-top: 4px;
              margin-bottom: 4px;
            }
          }
        }

        &.accepted {
          dt.status + dd {
            background-color: $brand-success;
          }
        }
        &.rejected {
          dt.status + dd {
            background-color: $brand-danger;
          }
        }
      }
    }

    h1 {
      font-weight: bold;

      & > span {
        position: relative;
        white-space: nowrap;
        display: inline-block;

        span {
          display: none;
        }

        &.no-js:hover,
        &.active {
          span {
            display: inline-block;
            position: absolute;
            z-index: 1;
            top: 1em;
            left: 0;
            padding: 0.5em 0 0 0;

            ul {
              max-height: 60vh;
              max-width: 90vw;
              overflow: auto;
              background-color: $gray-lighter;
              border-radius: 3px;
              box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
              margin: 0;
              padding: $grid-gutter-width/4 0;

              li {
                display: block;
                font-size: 0.5em;
                font-weight: normal;
                padding: $grid-gutter-width/4 $grid-gutter-width/2;

                &.selected {
                  background-color: $brand-info;
                  color: #fff;
                }

                a {
                  color: inherit;
                  text-decoration: none;
                }
              }

              &:hover {
                li.selected  {
                  background-color: transparent;
                  color: inherit;
                }

                li:hover {
                  background-color: $brand-info;
                  color: #fff;
                }
              }
            }
          }
        }

        & > a {
          display: inline-block;

          & span {
            @include sr-only;
          }

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right:0;
            bottom: 0;
            left: 0;
          }

          &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 5px 0 5px;
            border-color: $text-color transparent transparent transparent;
            display: inline-block;
            position: relative;
            top: -0.15em;
            margin-right: 0.3em;
          }
        }
      }
    }
  }

  section {
    .container {
      @media (min-width: $screen-md-min) {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAEklEQVQImWP48OHD/w8fPvwHACIjB58VdezUAAAAAElFTkSuQmCC);
        background-repeat: repeat-y;
        background-position: 76% 0;
      }
    }
  }

  & > .alert {
    margin-top: -1px;
    margin-bottom: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
    padding-left: 0;
    padding-right: 0;

    .container {
      & > div {
        @include make-row();

        & > * {
          @include make-md-column(6);
          @include make-md-column-offset(3);

          &:last-child {
            margin-bottom: 0;
          }

          .btn {
            vertical-align: inherit;
            background-color: #fff;
            color: $text-color;
            font-weight: bold;
          }
        }
      }
    }

    &.alert-dismissible .close {
      top: 3px;
      right: $grid-gutter-width/2;
    }
  }

  .error-message {
    display: block;
    background-color: $brand-danger;
    color: #fff;
    font-size: 0.8em;
    padding: $padding-base-vertical 8px;
  }
}
