//sexytables v1.0
.sexyTableContainer {
  overflow: hidden;
  width: 100%;
  max-height: 90%;
  position: relative;
  //margin: 0 auto;
  margin: 0 0 20px;
}

.sexyTable {
  margin: 0;
}

.sexyDragContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sexyHeader {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: none !important;
}

.sexyHeader table {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 !important;
}

.sexyColumn {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
}

.sexyCorner {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  transition: none !important;
  font-size: 14px;
  vertical-align: bottom;
  background-color: #fff;
  box-sizing: border-box;
}

table.response-summary,
.sexyHeader table {
  table-layout: fixed;
}

table.response-summary thead tr th,
.sexyCorner table tr th,
.sexyHeader table tr th {
  padding: 8px;
  text-align: left;
  font-size: 14px;
  vertical-align: bottom;
  background-color: #fff;
  height: 118px;
  box-sizing: border-box;
  border-bottom: 2px solid #dddddd;
}

.sexyCorner,
.sexyColumn {
  display: none;
}

.sexyCorner table,
.sexyColumn table,
.sexyHeader table {
  width: 100%;
}

.sexyColumn table tr td {
  border-top: 1px solid #ddd;
}

.sexyColumn table tr td div {
  padding: 8px;
  text-align: center;
  background-color: #f0f0f0;
}

table.response-summary thead tr th div,
.sexyCorner table tr td div,
.sexyHeader table tr th div {
  text-align: left;
  vertical-align: bottom;
}

.sexyHeader table tr th.datasetHeader {
  vertical-align: inherit;
  div {
    transform: rotate(-90deg) translateX(-50%);

    a {
      height: 100%;
      width: 100%;
      display: block;
    }
  }
}

table.response-summary thead tr th div span,
.sexyHeader table tr th div span {
  display: block;
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

table.response-summary thead tr th.number,
.sexyHeader table tr th.number {
  width: 25px !important;
}

table.response-summary thead tr th.place-name,
.sexyHeader table tr th.place-name {
  width: 120px !important;
}

table.response-summary thead tr th.place-score,
.sexyHeader table tr th.place-score {
  width: 65px !important;
}
