.story-preview {
  text-align: right;
  margin-top: 20px;
  img {
    width: 120px;
  }

}


.story-image {
  text-align: right;

  img {
    width: 260px;
  }

}


.article-summary {
  margin-bottom: 20px;
}
