<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}} - Open Government Data Dashboard</title>
    <meta name="author" content="Open Knowledge Foundation">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/vendor/recline/vendor/jquery/1.7.1/jquery.js"></script>
    <script src="/vendor/recline/vendor/underscore/1.1.6/underscore.js"></script>

<script src="/vendor/recline/vendor/bootstrap/2.0.2/bootstrap.js"></script>

<script src="/vendor/recline/vendor/backbone/0.5.1/backbone.js"></script>

<script src="/vendor/raphael-min.js"></script>

<script src="/vendor/kartograph.min.js"></script>

<script src="/vendor/chroma.pack.min.js"></script>

<script src="/vendor/recline/dist/recline.js"></script>

<script src="/vendor/recline/dist/recline.dataset.js"></script>

    <script src="/src/nav.js"></script>

    <link href="/vendor/recline/vendor/bootstrap/2.0.2/css/bootstrap.css" rel="stylesheet" />
    <link href="/vendor/recline/vendor/bootstrap/2.0.2/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/vendor/recline/css/graph.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="nav-logo pull-left" href="http://okfn.org/" title="An Open Knowledge Foundation Project">
        <img src="http://assets.okfn.org/p/okfn/img/logo_28x30.png" alt="Open Knowledge Foundation logo" />
      </a>
      <a class="brand" href="/">Open Government Data Dashboard:</a> <span
      onclick='show_pagesel()'
      class="brand">{{page.title}}</span>
      <ul class="nav">
        <li><a href="#">Total <span class="total-responses"></span></a></li>
        <li><a href="#table">Table</a></li>
        <li><a href="#map" class="page-switcher">Map</a></li>
        <li><a href="submit.html">Submit a Response</a></li>
      </ul>
      <ul class="nav pull-right">
        <li><a href="http://opengovernmentdata.org/census/">Census Home</a></li>
        <li><a class="github" href="https://github.com/okfn/ogd-dashboard">Code for this App</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="pagesel">
<ul>
{% for p in site.pages %}
    {% if p.index %}
        <li><a href="{{p.url}}">{{p.title}}</a></li>
    {% endif %}
{% endfor %}
</ul>
</div>
<div class="container page">
{{content}}
</div>
{% include JB/analytics-providers/google %}
  </body>
</html>
