<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}} - Open Data Census</title>
    <meta name="author" content="Open Knowledge Foundation">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="{{page.root}}/vendor/recline/vendor/jquery/1.7.1/jquery.js"></script>
    <script src="{{page.root}}/vendor/recline/vendor/underscore/1.4.2/underscore.js"></script>

  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

<script src="{{page.root}}/vendor/recline/vendor/backbone/0.9.2/backbone.js"></script>
<script src="{{page.root}}/vendor/recline/vendor/leaflet/0.4.4/leaflet.js"></script>
<script src="{{page.root}}/vendor/recline/vendor/leaflet.markercluster/leaflet.markercluster.js"></script>
<script type="text/javascript" src="{{page.root}}/vendor/recline/vendor/mustache/0.5.0-dev/mustache.js"></script>

<script src="{{page.root}}/vendor/raphael-min.js"></script>

<script src="{{page.root}}/vendor/kartograph.min.js"></script>
<script src="{{page.root}}/vendor/jquery.sparkline.min.js"></script>

<script src="{{page.root}}/vendor/chroma.pack.min.js"></script>

<script src="{{page.root}}/vendor/recline/dist/recline.js"></script>

<script src="{{page.root}}/vendor/recline/dist/recline.dataset.js"></script>


    <!--<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" rel="stylesheet"> -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{page.root}}/vendor/recline/css/map.css" rel="stylesheet" />
    <link href="{{page.root}}/vendor/recline/vendor/leaflet/0.4.4/leaflet.css" rel="stylesheet" />
    <link href="{{page.root}}/vendor/recline/vendor/leaflet.markercluster/MarkerCluster.Default.css" rel="stylesheet" />
    <!-- [if lte IE 9]>
    <link href="{{page.root}}/vendor/recline/vendor/leaflet/0.4.4/leaflet.ie.css" rel="stylesheet" />
    <link href="{{page.root}}/vendor/recline/vendor/leaflet/leaflet.markercluster/MarkerCluster.Default.ie.css" rel="stylesheet" />
    <![endif]-->
    <link href="{{page.root}}/css/style.css" rel="stylesheet" />
  </head>

  <body>
<div class="wrapper">  
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Open Data Census</a> 
      <ul class="nav">
        <li><a href="{{page.root}}/">Home</a></li>
        <li class="dropdown"><a  href="{{page.root}}/country/">Countries</a></li>
        <li><a href="{{page.root}}/catalogs/">Catalogs</a></li>
        <!-- <li><a href="{{page.root}}/rankings/">Rankings</a></li> -->

      </ul>
      <a class="nav-logo pull-right" href="http://okfn.org/" title="An Open Knowledge Foundation Project">
        <img src="http://assets.okfn.org/images/logo/okfn-logo-landscape-black.png" alt="Open Knowledge Foundation logo" style="height:30px;" />
      </a>
    </div>
  </div>
</div>

<div class="container">
<div class="content">
  <div class="page">
    {{content}}
  </div>
  </div><!-- /content -->
</div><!-- /container -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span6">
        <p>
      The Open Data Census is run by the <a href="http://okfn.org">Open Knowledge Foundation</a>.
    </p>
    <p>
      <a href="http://opendefinition.org/ossd/" title="Open Online Software Service" style="border:none;">
        <img src="http://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" alt="" border="" />
      </a>
      <a href="http://opendefinition.org/okd/" title="Open Definition" style="border:none;">
        <img src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" alt="" border="" />
      </a>
      <a href="http://opendefinition.org/okd/" title="Open Definition" style="border:none;">
        <img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png" alt="" border="" />
      </a>
    </p>
      </div>
      <div class="span6">
        <ul class="pull-right">
          <li><a href="mailto:info@okfn.org?subject=Open Data Census" title="Contact Us">Contact Us</a></li>
          <li><a href="https://github.com/okfn/opendatacensus/issues" title="Report Issues">Report Issues</a></li>
          <li><a href="http://okfn.org/opendata/" title="More about Open Data">Open Data</a></li>
          <li><a href="https://github.com/okfn/opendatacensus/">Source Code</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% include JB/analytics-providers/google %}
</body>
</html>
