{% extends 'base.html' %}

{% block title %}
{{ gettext('Dashboard') }}
{% endblock %}


{% block content %}
<div class="container">
<h1>{{ gettext('Site Admin Dashboard') }}</h1>

<div class="row">
  <div class="span6">
    <h2>{{ gettext('Current Config') }}</h2>
    <a target="_blank" href="{{ configUrl }}">View Spreadsheet</a><br />
    {% if site %}
    <ul>
      {% for k, v in site.settings %}
      <li>{{ k }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="span6">
    <h2>{{ gettext('Data actions') }}</h2>
    <ul>
      <li><form action="/admin/load/config" method="post"><button class="btn btn-primary" type="submit">{{ gettext('Reload Config') }}</button></form></li>
      <li><form action="/admin/load/places" method="post"><button class="btn btn-primary" type="submit">{{ gettext('Reload Places') }}</button></form></li>
      <li><form action="/admin/load/datasets" method="post"><button class="btn btn-primary" type="submit">{{ gettext('Reload Datasets (& QuestionSets)') }}</button></form></li>
      <li><form action="/admin/load/questionsets" method="post"><button class="btn btn-primary" type="submit">{{ gettext('Reload QuestionSets') }}</button></form></li>
      <li><form action="/admin/buildindex" method="post"><button class="btn btn-primary" type="submit" {% if not site.indexSettings %}disabled{% endif %}>{{ gettext('Build Index Website') }}</button> {% if not site.indexSettings %}(No Index Settings for site){% endif %}</form></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span6">
    <h2>{{ gettext('Current Places') }}</h2>
    <a target="_blank" href="{{ site.settings.places }}">View Spreadsheet</a>
    {% if places %}
    <ul>
      {% for place in places %}
      <li>{{ place.id }}: {{ place.name }}</li>
      {% endfor %}
    </ul>
    {% else %}
    {{ gettext('No places') }}
    {% endif %}
  </div>
  <div class="span6">
    <h2>{{ gettext('Current Datasets') }}</h2>
    <a target="_blank" href="{{ site.settings.datasets }}">View Spreadsheet</a>
    {% if datasets %}
    <ul>
      {% for dataset in datasets %}
      <li>{{ dataset.id }}: {{ dataset.name }}</li>
      {% endfor %}
    </ul>
    {% else %}
    {{ gettext('No datasets') }}
    {% endif %}
  </div>
  <div class="span6">
    <h2>{{ gettext('Current Questions') }}</h2>
    <a target="_blank" href="{{ site.settings.questions }}">View Spreadsheet</a>
    {% if questions %}
    <ul>
      {% for question in questions %}
      <li>{{ question.id }}: {{ question.question }}</li>
      {% endfor %}
    </ul>
    {% else %}
    {{ gettext('No questions') }}
    {% endif %}
  </div>
</div>

</div>
{% endblock %}
