{% set is_index = site.settings.is_index or false %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Open Knowledge">
    <title>{% block title%}{{title}}{% endblock %} - {{ site.settings.title }}</title>
    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
    <link href='//fonts.googleapis.com/css?family=Lato:400,400italic,700,300' rel='stylesheet' type='text/css'>
    {% if is_index %}
    <link rel="stylesheet" href="//a.okfn.org/html/oki/panel/assets/css/frontend.css"/>
    {% endif %}
    <link rel="stylesheet" href="/css/styles.css?{{currentTime}}">
    <style type="text/css">
      {{ site.settings.custom_css }}
    </style>
  </head>

  <body class="{% if is_index %}godi {% endif %}{% block body_class %}{% endblock %}">
    {% if is_index %}
    <div id="ok-panel" class="closed"><div class="container"><iframe src="//a.okfn.org/html/oki/panel/panel.html" scrolling="no"></iframe></div></div>
    {% endif %}
    <header id="header">
      <div class="container">
        {% if is_index %}
        <div id="ok-panel-wrapper" data-breakpoint="768px"><a class="black ok-ribbon" href="//okfn.org/"><img src="//a.okfn.org/html/oki/panel/assets/images/oki-ribbon.png" alt="Open Knowledge"></a></div>
        <a href="http://index.okfn.org/" class="logo">
          {% include 'includes/godi-logo.svg' %}
        </a>
        {% else %}
        <div class="logo">
          {% if site.settings.navbar_logo %}
            <div class="custom-logo">
              {{ site.settings.navbar_logo }}
            </div>
          {% else %}
            <a class="glyphicon glyphicon-th-list" aria-hidden="true"></a>
          {% endif %}
          <div>
            <a class="title" href="/" title="{{ gettext('Home')}}">{{ site.settings.title }}</a>
            <span class="tagline">Powered by <a href="http://census.okfn.org">Open Data Census</a></span>
          </div>
        </div>
        {% endif %}

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <nav class="collapse navbar-collapse" id="nav">
          {% if not is_index %}
          <span class="user">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {% if currentUser %}
              {{ format("Logged in as %(name)s", { name: currentUser.firstName }) }}
              | <a href="{{ logoutUrl }}">{{ gettext("Log out") }}</a>
            {% else %}
              <a href="{{ loginUrl }}">{{ gettext("Login") }}</a>
            {% endif %}
          </span>
          {% endif %}

          <ul class="menu">
            <li><a href="/about/">{{ gettext("About") }}</a></li>
            <li><a href="/changes/">{{ gettext("Changes") }}</a></li>
            <li><a href="/faq/">{{ gettext("FAQ") }}</a></li>
            {% if site.settings.methodology_page %}
            <li><a href="/methodology/">{{ gettext("Methodology") }}</a></li>
            {% endif %}
            {% if site.settings.contribute_page %}
            <li><a href="/contribute/">{{ gettext("Contribute") }}</a></li>
            {% endif %}
            {% if site.settings.tutorial_page %}
            <li><a href="/tutorial/">{{ gettext("Tutorial") }}</a></li>
            {% endif %}
            {% if site.settings.support_url %}
              <li><a target="_blank" href="{{ site.settings.support_url }}">{{ gettext("Support") }}</a></li>
            {% elif discussionForum %}
              <li><a target="_blank" href="{{ discussionForum }}">{{ gettext("Support") }}</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>

    {% if site.settings.banner_text %}
    <div id="banner" class="container alert">
      {{ site.settings.banner_text }}
    </div>
    {% endif %}

    {% if error_messages.length > 0 %}
    <div class="flash alert alert-error">
      {{ error_messages }}
    </div>
    {% endif %}
    {% if info_messages.length > 0 %}
    <div class="flash alert alert-info">
      {{ info_messages }}
      {% if url_query.post_submission %}
      {% include '_snippets/share_submission_buttons.html' %}
      {% endif %}
    </div>
    {% endif %}

    {% block breadcrumb %}{% endblock %}

    {% block content %}{{content}}{% endblock %}

    <footer class="site-footer">
      <div class="container">
        <div class="footer-primary">
          <a class="footer-logo" href="https://okfn.org/">
          <img src="https://a.okfn.org/img/oki/landscape-white-468x122.png" alt="Open Knowledge International">
          </a>
          <ul class="footer-links">
            <li><a href="https://okfn.org/privacy-policy/">Privacy policy</a></li>
            <li><a href="https://okfn.org/ip-policy/">IP policy</a></li>
            <li><a href="https://okfn.org/cookie-policy/">Cookie policy</a></li>
            <li><a href="https://okfn.org/terms-of-use/">Terms of use</a></li>
            <li><a href="http://okfn.org/opendata/" title="More about Open Data">What is Open Data</a></li>
            <li><a href="http://meta.census.okfn.org/">Run Your Own Local Open Data Census</a></li>
          </ul>
        </div>
        {% if site.settings.custom_footer %}
        <div class="footer-secondary">
          {{ site.settings.custom_footer }}
        </div>
        {% endif %}
        <div class="footer-secondary">
          <p class="pull-right">
            <strong>{{ gettext("Download") }}:</strong> <a href="/api/entries.cascade.csv">{{ gettext("Current (CSV)") }}</a> |
            <a href="/api/entries.csv">{{ gettext("All (CSV)") }}</a> |
            <a href="/api/entries.cascade.json">{{ gettext("Current (JSON)") }}</a> |
            <a href="/api/entries.json">{{ gettext("All (JSON)") }}</a>
          </p>
          <p>
            <a href="http://opendatacommons.org/licenses/pddl/1.0">Data License (Public Domain)</a>. <a href="https://github.com/okfn/opendatacensus/">Source code</a>.
          </p>
        </div>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        {% if currentUser %}
          {{format("Logged in as %(name)s", { name: currentUser.firstName })}}
          | <a href="{{ logoutUrl }}">{{ gettext("Log out") }}</a>
        {% else %}
          <a href="{{ loginUrl }}">{{ gettext("Login") }}</a>
        {% endif %}
        {% if locales.length > 1 %}
            <p class="lang-picker">
            {{ gettext("Change language:") }}
            {% for locale in locales %}
              {% if locale == currentLocale %}
                <span>{{locale.toUpperCase()}}</span>
              {% else %}
                <a href="/setlocale/{{locale}}">{{locale.toUpperCase()}}</a>
              {% endif %}
            {% endfor %}
            </p>
         {% endif %}
      </div>
    </footer>

  <script type="text/javascript">
    var siteUrl = "/";
  </script>
  <script data-main="/scripts/site" src="/bower_components/requirejs/require.js"></script>

  {% if site.settings.google_analytics_key %}
  <!-- configured google analytics specific to this deployment -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{site.settings.google_analytics_key}}']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  {% endif %}
  <!-- common tracking code for all -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-33874954-24', 'okfn.org');
    ga('send', 'pageview');
  </script>
  </body>
</html>
