<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ lang_dir }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Open Knowledge">
    <title>{% block title%}{{ title }}{% endblock %} - {{ site.settings.title or site_title }}</title>
    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <![endif]-->
    <link href='//fonts.googleapis.com/css?family=Lato:400,400italic,700,300' rel='stylesheet' type='text/css'>
    {% if is_index %}
    <link rel="stylesheet" href="//a.okfn.org/html/oki/panel/assets/css/frontend.css"/>
    {% endif %}
    <link rel="stylesheet" href="/css/styles.css?{{currentTime}}">
    <style type="text/css">
      {{ site.settings.custom_css }}
    </style>
  </head>

  <body class="{% if is_index %}godi {% endif %}{% block body_class %}{% endblock %}">
    {% if is_index %}
    <div id="ok-panel" class="closed"><div class="container"><iframe src="//a.okfn.org/html/oki/panel/panel.html" scrolling="no"></iframe></div></div>
    {% endif %}
    <header id="header">
      <div class="container">
        {% if is_index %}
        <div id="ok-panel-wrapper" data-breakpoint="768px"><a class="black ok-ribbon" href="//okfn.org/"><img src="//a.okfn.org/html/oki/panel/assets/images/oki-ribbon.png" alt="Open Knowledge"></a></div>
        <a href="/" class="logo">
          {% include 'includes/godi-logo.svg' %}
        </a>
        {% else %}
        <div class="logo">
          {% if site.settings.navbar_logo %}
            <div class="custom-logo">
              {{ site.settings.navbar_logo }}
            </div>
          {% else %}
            <a class="glyphicon glyphicon-th-list" aria-hidden="true"></a>
          {% endif %}
          <div>
            <a class="title" href="/" title="{{ gettext('Home')}}">{{ site.settings.title }}</a>
            <span class="tagline">{{ format(gettext("Powered by <a href='%s'>Open Data Census</a>"), ['http://census.okfn.org']) }}</span>
          </div>
        </div>
        {% endif %}

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
          <span class="sr-only">{{ gettext("Toggle navigation") }}</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <nav class="collapse navbar-collapse" id="nav">
          {% if not is_index %}
          <span class="user">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {% if currentUser %}
              {{ format(gettext("Logged in as %(name)s"), { name: currentUser.firstName }) }}
              | <a href="{{ logoutUrl }}">{{ gettext("Log out") }}</a>
            {% else %}
              <a href="{{ loginUrl }}">{{ gettext("Login") }}</a>
            {% endif %}
          </span>
          {% endif %}

          <ul class="menu">
            {% if is_index %}
              <li><a href="/place/">{{ gettext("Places") }}</a></li>
              <li><a href="/dataset/">{{ gettext("Datasets") }}</a></li>
              <li><a href="/download/">{{ gettext("Download") }}</a></li>
              {% if 'insights' in ancillary_pages %}
                <li><a href="/insights/">{{ gettext("Insights") }}</a></li>
              {% endif %}
              {% if 'methodology' in ancillary_pages %}
                <li><a href="/methodology/">{{ gettext("Methodology") }}</a></li>
              {% endif %}
              {% if 'about' in ancillary_pages %}
                <li><a href="/about/">{{ gettext("About") }}</a></li>
              {% endif %}
              {% if 'press' in ancillary_pages %}
                <li><a href="/press/">{{ gettext("Press") }}</a></li>
              {% endif %}
            {% endif %}
            {% if not is_index %}
              <li><a href="/about/">{{ gettext("About") }}</a></li>
              <li><a href="/changes/">{{ gettext("Changes") }}</a></li>
              <li><a href="/faq/">{{ gettext("FAQ") }}</a></li>
              {% if site.settings.methodology_page %}
                <li><a href="/methodology/">{{ gettext("Methodology") }}</a></li>
              {% endif %}
              {% if site.settings.contribute_page %}
                <li><a href="/contribute/">{{ gettext("Contribute") }}</a></li>
              {% endif %}
              {% if site.settings.tutorial_page %}
                <li><a href="/tutorial/">{{ gettext("Tutorial") }}</a></li>
              {% endif %}
              {% if site.settings.support_url %}
                <li><a target="_blank" href="{{ site.settings.support_url }}">{{ gettext("Support") }}</a></li>
              {% elif discussionForum %}
                <li><a target="_blank" href="{{ discussionForum }}">{{ gettext("Support") }}</a></li>
              {% endif %}
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>

    {% if site.settings.banner_text %}
    <div id="banner" class="container alert">
      {{ site.settings.banner_text }}
    </div>
    {% endif %}

    {% if error_messages.length > 0 %}
    <div class="flash alert alert-error">
      {{ error_messages }}
    </div>
    {% endif %}
    {% if info_messages.length > 0 %}
    <div class="flash alert alert-info">
      {{ info_messages }}
      {% if url_query.post_submission %}
      {% include '_snippets/share_submission_buttons.html' %}
      {% endif %}
    </div>
    {% endif %}

    {% block breadcrumb %}{% endblock %}

    {% block content %}{{ content or contents }}{% endblock %}

    {% block summarystats %}
    {% if is_index %}
     <div id="summary-stats">
       <div class="container">
        <ul class="stats">
          <li class="stat">
            <span class="chart">
              <svg viewBox="0 0 32 32">
                <circle r="16" cx="16" cy="16" stroke-dasharray="{{ stats.openDataPercent }} 100"; />
              </svg>
            </span>
            <strong>{% for c in stats.openDataPercent | string %}{{ c }}{% endfor %}%</strong> of key datasets in the index are
            <span data-container="body" data-toggle="popover" data-placement="top" data-content="This is the percentage of all the dataset entries that are open as per the Open Definition. We get one dataset entry for each dataset and place (e.g. Transport Timetables for the United Kingdom is one dataset entry). For each entry we check whether the dataset is fully open as per the Open Definition, and then divide by the total number of entries to get a percentage. &lt;a href=&quot;faq/#open-data&quot;&gt;Find out more about Open Data&lt;/a&gt;" data-original-title="What does this mean?">open</span>.<!-- TODO: figure out why popover is being placed at bottom -->
           </li>
           <li class="stat">
             <strong>{% for c in stats.placeCount | string %}<span>{{ c }}</span>{% endfor %}</strong>
             <span>places.</span>
           </li>
           <li class="stat">
             <strong>{% for c in stats.currentEntryCount | string %}<span>{{ c }}</span>{% endfor %}</strong>
             <span>entries.</span>
           </li>
           <li class="stat">
             <strong>{% for c in stats.currentEntryOpenCount | string %}<span>{{ c }}</span>{% endfor %}</strong>
             <span>open datasets.</span>
           </li>
         </ul>
       </div>
     </div>
    {% endif %}
    {% endblock %}

    <footer class="site-footer">
      <div class="container">
        <div class="footer-primary">
          <a class="footer-logo" href="https://okfn.org/">
          <img src="https://a.okfn.org/img/oki/landscape-white-468x122.png" alt="Open Knowledge International">
          </a>
          <ul class="footer-links">
            <li><a href="https://okfn.org/privacy-policy/">{{ gettext("Privacy policy") }}</a></li>
            <li><a href="https://okfn.org/ip-policy/">{{ gettext("IP policy") }}</a></li>
            <li><a href="https://okfn.org/cookie-policy/">{{ gettext("Cookie policy") }}</a></li>
            <li><a href="https://okfn.org/terms-of-use/">{{ gettext("Terms of use") }}</a></li>
            <li><a href="http://okfn.org/opendata/" title="More about Open Data">{{ gettext("What is Open Data") }}</a></li>
            <li><a href="http://meta.census.okfn.org/">{{ gettext("Run Your Own Local Open Data Census") }}</a></li>
          </ul>
        </div>
        {% if site.settings.custom_footer %}
        <div class="footer-secondary">
          {{ site.settings.custom_footer }}
        </div>
        {% endif %}
        <div class="footer-secondary">
          {% if not is_index %}
          <p class="pull-right">
            <strong>{{ gettext("Download") }}:</strong> <a href="/api/entries.cascade.csv">{{ gettext("Current (CSV)") }}</a> |
            <a href="/api/entries.csv">{{ gettext("All (CSV)") }}</a> |
            <a href="/api/entries.cascade.json">{{ gettext("Current (JSON)") }}</a> |
            <a href="/api/entries.json">{{ gettext("All (JSON)") }}</a>
          </p>
          {% endif %}
          <p>
            <a href="http://opendatacommons.org/licenses/pddl/1.0">{{ gettext("Data License (Public Domain)") }}</a>. <a href="https://github.com/okfn/opendatasurvey/">{{ gettext("Source code") }}</a>.
          </p>
        </div>
        {% if not is_index %}
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
          {% if currentUser %}
            {{format(gettext("Logged in as %(name)s"), { name: currentUser.firstName })}}
            | <a href="{{ logoutUrl }}">{{ gettext("Log out") }}</a>
          {% else %}
            <a href="{{ loginUrl }}">{{ gettext("Login") }}</a>
          {% endif %}
        {% endif %}
        {% if locales.length > 1 %}
            <p class="lang-picker">
            {{ gettext("Change language:") }}
            {% for locale in locales %}
              {% if locale == currentLocale %}
                <span>{{locale.toUpperCase()}}</span>
              {% else %}
                <a href="/setlocale/{{locale}}">{{locale.toUpperCase()}}</a>
              {% endif %}
            {% endfor %}
            </p>
         {% endif %}
      </div>
    </footer>

  <script type="text/javascript">
    var siteUrl = "/";
  </script>
  <script data-main="/scripts/site" src="/bower_components/requirejs/require.js"></script>

  {% include 'includes/analytics.html' %}

  </body>
</html>
