{% extends "base.html" %}

{% block title %}
{{gettext("Recent Changes")}}
{% endblock %}

{% block content %}
<h1>{{gettext("Changelog")}}</h1>
<p>
    {{ gettext("A log of the most recent submission and entry activity.") }}
</p>
<ul class="change-list">
  {% for item in entries %}

  {% if item.isCurrent %}
    {% set itemClass = 'success'%}
    {% set itemHeading = gettext('Entry') %}
    {% set itemText = 'accepted' %}
  {% else %}
    {% set itemHeading = gettext('Submission') %}
    {% if not item.reviewed %}
      {% set itemClass = 'warning' %}
      {% set itemText = gettext('new') %}
    {% else %}
      {% set itemClass = 'important' %}
      {% set itemText = gettext('rejected') %}
    {% endif %}
  {% endif %}

    <li>
        <h5>
            <strong>{{ itemHeading }}</strong>
            <span class="label label-{{ itemClass }}">{{ itemText }}</span>
        </h5>
        <a href="{{ item.url }}">
           <strong>{{ item.dataset.name }} – {{ item.place.name }}</strong>
        </a>
        <br />
        <span class="changelist-date">
            {{ gettext("Submitted by") }} {% if item.Submitter %}{% if item.Submitter.isAnonymous() %}{{ item.Submitter.firstName|title }}{% else %}{{ item.Submitter.fullName() }}{% endif %}{% endif %} {% if item.rewiewResult %}{{ gettext("and reviewed by") }} {% if item.Reviewer.isAnonymous() %}{{ item.Reviewer.firstName|title}}{% else %}{{ item.Reviewer.fullName() }}{% endif %}{% endif %}</span>
    </li>
    {% endfor %}
</ul>

{% endblock %}
