{% extends "base.html" %}

{% block title %}
{{ gettext("Submit") }}
{% endblock %}

{% block content %}

<style type="text/css" media="screen">
  #questions .questionList li {
    color: #000;
  }

  #questions .questionList li.disabled  {
    color: grey;
  }
</style>

<div class="page-header">
  <h1>{{format("Make a Submission &ndash; %(sitename)s", { sitename: site.settings.title }) }}</h1>
</div>

<div id="questions"></div>

<!-- <script src="https://npmcdn.com/react@15.3.0/dist/react.js"></script>
<script src="https://npmcdn.com/react-dom@15.3.0/dist/react-dom.js"></script>
<script src="https://npmcdn.com/babel-core@5.8.38/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/lodash/3.10.1/lodash.min.js"></script> -->
<script src="/src/bundle.js" type="text/javascript"></script>

{% endblock %}
