{% extends "page.html" %}
{% from "macros/breadcrumb.html" import breadcrumb %}

{% block title %}
{{ gettext("Submit") }}
{% endblock %}

{% block body_class %}form{% endblock %}

{% block breadcrumb %}
{{ breadcrumb('Make a Submission') }}
{% endblock %}

{% block content %}

<section>
  <div class="container">
    <div class="intro">
      <h1>Section A - About you</h1>
      <p>This section is not scored, but could provide valuable insights.</p>
    </div>

    <div class="scale first question">
      <div class="instructions">

      </div>
      <div class="main">
        <h2><span>A1.</span> Rate your knowledge of {...}.</h2>
        <div class="answer">
          <input type="radio" name="scaleOne" id="scaleOne1">
          <label for="scaleOne1">
            <span>1</span> <em class="description"> I'm not familiar at all with the field</em>
          </label>
          <input type="radio" name="scaleOne" id="scaleOne2">
          <label for="scaleOne2">
            <span>2</span> <em class="description">I have some knowledge about the field</em>
          </label>
          <input type="radio" name="scaleOne" id="scaleOne3">
          <label for="scaleOne3">
            <span>3</span> <em class="description">I have advanced knowledge in this field</em>
          </label>
        </div>

      </div>
      <div class="comments">
        <label for="commentOne">Comments</label>
        <textarea placeholder="Click here to tell us more about your background. What is your knowledge about the data category, the government in your country, and Open Data in general?" id="commentOne" rows="5"></textarea>
      </div>
    </div>

    <div class="scale question">
      <div class="instructions">

      </div>
      <div class="main">
        <h2><span>A2.</span> Rate your knowledge of open data.</h2>
        <div class="answer">
          <input type="radio" name="scaleTwo" id="scaleTwo1">
          <label for="scaleTwo1">
            <span>1</span> <em class="description">I'm not familiar at all with open data</em>
          </label>
          <input type="radio" name="scaleTwo" id="scaleTwo2">
          <label for="scaleTwo2">
            <span>2</span> <em class="description">I have some knowledge about open data</em>
          </label>
          <input type="radio" name="scaleTwo" id="scaleTwo3">
          <label for="scaleTwo3">
            <span>3</span> <em class="description">I have advanced knowledge</em>
          </label>
        </div>

      </div>
      <div class="comments">
        <label for="commentTwo">Comments</label>
        <textarea placeholder="Add comments" id="commentTwo" rows="5"></textarea>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="intro">
      <h1>Section B - About the data</h1>
    </div>

    <div id="questions">{{ initialRenderedQuestions }}</div>
    <script type="text/javascript">
      window.qsSchema = {{ qsSchema|safe }};
      window.questions = {{ questions|safe }};
    </script>
  </div>
</section>

<section>
  <div class="container">

    <div class="text question">
      <div class="instructions">

      </div>
      <div class="main">
        <h2>Any other comments?</h2>
        <div class="answer">
          <textarea rows="5"></textarea>
        </div>
      </div>
      <div class="comments">

      </div>
    </div>

    <div class="yes-no sub neutral question">
      <div class="instructions">
        <div class="collapse" id="instructionsAttribution">
          <h4>Instructions</h4>
          <p>
            By default, submissions to the census are credited to the submitter. If you would prefer to remain anonymous, please indicate so by checking the box.
          </p>
        </div>
        <a class="toggle" role="button" data-toggle="collapse" href="#instructionsAttribution" aria-expanded="false" aria-controls="instructionsAttribution"><span class="sr-only">Help</span><span class="icon">?</span></a>

      </div>
      <div class="main">
        <h2>Would you prefer your submission to remain anonymous?</h2>
        <div class="answer">
          <input type="radio" name="yesnoAttribution" id="yesnoAttributionNo" checked="">
          <label for="yesnoAttributionNo">
            <span>No</span>
          </label>
          <input type="radio" name="yesnoAttribution" id="yesnoAttributionYes">
          <label for="yesnoAttributionYes">
            <span>Yes</span>
          </label>
        </div>
      </div>
      <div class="comments">
      </div>
    </div>

    <div class="submit continuation question">
      <div class="instructions">
      </div>
      <div class="main">
        <p>
          <small>
            By submitting material to the index you agreeing to <a href="http://okfn.org/terms-of-use/">terms of use</a> and also to license your contribution (to the extent there are any rights in it!) under the <a href="http://opendatacommons.org/licenses/pddl/1.0/">Open Data Commons Public Domain Dedication and License</a>.
          </small>
        </p>
        <div class="answer">
          <button>Submit</button>
        </div>
      </div>
      <div class="comments">
      </div>
    </div>
  </div>
</section>

<script src="/scripts/entry.js" type="text/javascript"></script>

{% endblock %}
