{% extends "base.html" %}

{% block title %}
{{ gettext("Submit") }}
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{{format("Make a Submission &ndash; %(sitename)s", { sitename: site.settings.title }) }}</h1>
</div>

{% if errors %}
<div class="flash alert alert-error">
    <p>
        {{ gettext("The form has missing or incorrect data")}}:
    </p>
    {% for error in errors %}
    <ul>
        <li>{{ error.param }}: {{ error.msg }} {% if error.value %}(Current is '{{ error.value }}'){% endif %}</li>
    </ul>
    {% endfor %}
</div>
{% endif %}

{% if submitInstructions %}
<div class="alert alert-warning">
  {{ submitInstructions|marked }}
</div>
{% endif %}

<form action="" method="POST" class="form submission-create" autocomplete="on">

  <fieldset>
    <h3>{{gettext("Place and Dataset")}}</h3>
    <div class="row">
      <div class="span4">
        <label>{{gettext("Place")}}<br/>
          <select name="place" required autocomplete="off">
            <option value="">{{gettext("Please select")}}</option>
            {% for place in places %}
            <option value="{{place.id}}" {% if (formData and place.id == formData.place) or (current and place.id == current.place) %}selected="true"{% endif %}>{{place.name}}</option>
            {% endfor %}
          </select>
        </label>
      </div>
      <div class="span4">
        <label>{{gettext("Dataset")}}<br/>
          <select name="dataset" id="dataset-select" required>
            <option value="">{{gettext("Please select")}}</option>
            {% for dataset in datasets %}
            <option value="{{dataset.id}}" {% if (formData and dataset.id == formData.dataset) or (current and dataset.id == current.dataset) %}selected="true"{% endif %}>{{dataset.name}}</option>
            {% endfor %}
          </select>

          {% for dataset in datasets %}
          <div class="dataset-description js-dataset-{{dataset.id}}" style="display: none;">
            <span class="help-block">
              {{dataset.description|marked}}
            </span>
          </div>
          {% endfor %}
        </label>
      </div>
      <div class="span4">
        <label>{{ format("%(sitename)s Year", { sitename: site.settings.title_short }) }}<br/>
          <strong>{{ year }}</strong>
        </label>
      </div>
    </div>
  </fieldset>

  {% include '_snippets/form.html' %}

  <div class="row"><p>&nbsp;</p></div>

  <div class="row">
    <div class="span12 alert alert-warning">
    <h4>{{ currentUser.firstName }}, {{ gettext('would you prefer your submission to remain anonymous?') }}</h4>
    <span class="help-block">{{gettext('By default, submissions to the census are credited to the submitter. If you would prefer to remain anonymous, please indicate so by checking the box.')}}</span>
    <input type="radio" title="{{ gettext ('Anonymous submission')}}" name="anonymous" value="false" checked /> {{ gettext('Identify me as the submitter') }}
    <br />
    <input type="radio" title="{{ gettext ('Anonymous submission')}}" name="anonymous" value="true" /> {{ gettext('Keep my submission anonymous') }}
    </div>
  </div>

  <div class="controls" style="margin-top: 30px;">
    <button type="submit" class="btn btn-large btn-success" data-loading-text="Saving ..." style="float: left; margin-right: 30px;">{{gettext("Submit")}}</button>
    <p class="help-block">{{gettext("By submitting material to the index you agreeing to <a href=\"http://okfn.org/terms-of-use/\">terms of use</a> and also to license your contribution (to the extent there are any rights in it!) under the <a href=\"http://opendatacommons.org/licenses/pddl/1.0/\">Open Data Commons Public Domain Dedication and License</a>.")}}</p>
  </div>

</form>

<script src="/src/common.js"></script>
<script src="/src/submit.js"></script>
{% endblock %}
