{% extends "page.html" %}

{% block title %}
{{ gettext("Submit") }}
{% endblock %}

{% block body_class %}form{% endblock %}

{% block content %}

<header class="form-header">
  <div class="container">
    <div>
      <div class="primary-meta">
        <h1>
          <span class="no-js place">
            {{ placeName or gettext('Select a Place') }}
            {% if not isReview %}
            <a href="#"><span>({{ gettext("change place") }})</span></a>
            <span>
              <ul>
                {% for place in places -%}
                <li {% if (formData and place.id == formData.place) or (current and place.id == current.place) %}class="selected"{% endif %}><a href="/submit/?place={{place.id}}&amp;dataset={{formData.dataset}}">{{ place.name }}</a></li>
                {%- endfor %}
              </ul>
            </span>
            {% endif %}
          </span>
          <span class="no-js dataset">
            {{ datasetName or gettext('Select a Dataset')}}
            {% if not isReview %}
            <a href="#"><span>({{ gettext("change dataset") }})</span></a>
            <span>
              <ul>
                {% for dataset in datasets -%}
                <li {% if (formData and dataset.id == formData.dataset) or (current and dataset.id == current.dataset) %}class="selected"{% endif %}><a href="/submit/?place={{formData.place}}&amp;dataset={{dataset.id}}">{{ dataset.name }}</a></li>
                {%- endfor %}
              </ul>
            </span>
            {% endif %}
          </span>
        </h1>
        {{ datasetContext.datasetDescription }}
      </div>
      {% if isReview -%}
        <div class="secondary-meta">
          <dl class="{{ entryStatus }}">
            <dt class="status">{{ gettext("Status") }}</dt>
            <dd>{{ entryStatus }}</dd>
            <dt class="date">{{ gettext("Submission date") }}</dt>
            <dd>
              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ entry.createdAt|dateformat }}
            </dd>
            <dt class="submitter">{{ gettext("Submitter") }}</dt>
            <dd>
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {% if entry.Submitter %}{% if entry.Submitter.isAnonymous() %}{{ entry.Submitter.firstName|title }}{% else %}{{ entry.Submitter.fullName() }}{% endif %}{% endif %}
            </dd>
            {% if entry.Reviewer %}
             <dt>{{ gettext("Reviewer") }}</dt>
             <dd><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {% if entry.Reviewer %}{% if entry.Reviewer.isAnonymous() %}{{ entry.Reviewer.firstName|title }}{% else %}{{ entry.Reviewer.fullName() }}{% endif %}{% endif %}</dd>
            {% endif %}
          </dl>
        </div>
      {%- endif %}
    </div>
  </div>
</header>

{% if isReview -%}
  {% if currentUser -%}
    {% if not canReview -%}
      <div class="alert alert-warning" role="alert">
        <div class="container">
          <div>
            <p>{{ currentUser.firstName }}, {{ gettext("You do not have permissions to review this submission.") }}</p>
          </div>
        </div>
      </div>
    {%- endif %}

  {% else %}
    <div class="alert alert-warning" role="alert">
      <div class="container">
        <div>
          <p>{{ gettext("If you are a reviewer, please login to review.") }} <a class="btn btn-primary" href="{{ loginUrl }}?next=census/submission/{{ entry.id }}">{{ gettext("Login") }}</a></p>
        </div>
      </div>
    </div>
  {%- endif %}
{%- endif %}

{% if errors %}
<div class="alert alert-danger" role="alert">
  <div class="container">
    <div>
      <p>{{ gettext("The form has missing or incorrect data")}}:</p>
      <ul>
      {% for error in errors %}
        <li>{{ error.param }}: {{ error.msg }} {% if error.value %}({{ format(gettext("Current is '%s'"), [error.value]) }}){% endif %}</li>
      {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endif %}

{% if datasetContext|length %}
{% if submitInstructions %}
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="container">
    <div>
      <p>
        {{ gettext('Please read the <a class="btn btn-sm" data-toggle="modal" data-target="#guidance">{% if isReview %}Review{% else %}Submission{% endif %} Guidance</a> before proceeding.') }}
      </p>
    </div>
  </div>
</div>
<div class="modal fade" id="guidance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ gettext("{% if isReview %}Review{% else %}Submission{% endif %} Guidance") }}</h4>
      </div>
      <div class="modal-body">
        {{ submitInstructions }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ gettext("Got it") }}</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div id="entry_form">{{ initialRenderedEntry }}</div>
<script type="text/javascript">
  window.qsSchema = {{ qsSchema|safe }};
  window.questions = {{ questions|safe }};
  window.datasetContext = {{ datasetContext|dump }};
  window.formData = {{ formData|dump }};
  window.isReview = {{ isReview }};
  window.canReview = {{ canReview or false }};
  window.submissionDiscussionURL = "{{ submissionDiscussionURL or '' }}";
</script>
<script src="/scripts/compiled/entry.js" type="text/javascript"></script>
{% endif %}

{% endblock %}
