{% extends "page.html" %}

{% import "macros/popovers.html" as popovers %}

{% block title %}{{format("Entry for %(place)s / %(title)s", { place: place.name, title: dataset.name}) }}{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb-wrapper">
  <ol class="breadcrumb container">
    <li><a href="/">{{ gettext("Home") }}</a></li>
    {% if is_index %}
    <li><a href="/place">{{ gettext("Places") }}</a></li>
    {% endif %}
    <li><a href="/place/{{ place.id }}">{{ place.name }}</a></li>
    <li class="active">{{ dataset.name }}</li>
  </ol>
</div>
{% endblock breadcrumb %}

{% block content %}
<section id="data-header">
  <div class="container">
    <div class="row">
      <div class="col-md-{% if is_index %}6{% else %}12{% endif %}">
      <h1>
        <a href="/dataset/{{ dataset.id }}{{ urlContext }}">{{ dataset.name }}</a>
        <span class="place-openness" data-score="{{ entry.computedRelativeScore }}" style="background-color: rgb(122, 184, 0); color: white;">{{ format(gettext("%(score)s% open"), {score: entry.computedRelativeScore}) }}</span>
      </h1>
      <h3>
        <a href="/place/{{ place.id }}{{ urlContext }}">{{ place.name }}</a>
        {% if entry.computedRelativeScore == 100 %}
        <div class="open-badge"><a href="http://opendefinition.org/" target="_blank"><img src="http://assets.okfn.org/images/ok_buttons/od_80x15_blue.png"></a></div>
        {% endif %}
      </h3>

      <div class="row navigate">
        <div class="col-md-12">
          {% include 'includes/share_buttons.html' %}

          {% if is_index %}
          <div class="history">
            <h6>{{ gettext("See other years") }}</h6>
            <ul>
              <li><a href="http://index.okfn.org/place/{{ place.slug }}/{{ dataset.id }}/2013/" title="2013">2013</a></li>
              <li><a href="http://index.okfn.org/place/{{ place.slug }}/{{ dataset.id }}/2014/" title="2014">2014</a></li>
              <li><a href="http://index.okfn.org/place/{{ place.slug }}/{{ dataset.id }}" title="2015">2015</a></li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if is_index %}
    <div class="col-md-6">
      <div id="map-container">
        {% include 'includes/dataviews/embed_map.html' %}
      </div>
    </div>
    {% endif %}

  </div>
  </div>
</section>

{% if is_index %}
<hr>
{% endif %}

<section class="dataset-about">
  <div class="container">
    {% if dataset.description %}
    <div class="row">
      <div class="col-md-12">
        <h3>{{ gettext("What data is expected?") }}</h3>
        <p>{{dataset.description}}</p>
        <ul>
        {% for characteristic in dataset.characteristics %}
          <li>{{ characteristic }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}

    <h3>{{ gettext("How open is the data?") }}</h3>
    <ul class="availability-single">
    {% for question in questions -%}
      {% if question.score -%}
        {% set answer = entry.getAnswerValueForQuestion(question) %}
        {% set pass = 'yes' if question.pass(answer) else 'no' %}
        <li class="{{ pass }}" title="{{ question.question }}" data-toggle="popover" data-content="{{ popovers.popover_slice_content(question.description)|escape }}" data-placement="right">
          <i class="fa fa-{{ question.icon }}"></i>&nbsp;{% if pass == 'yes' %}It's {% elif pass == 'no' %}It's not {% endif %}{{ question.questionshort|lower }}
        </li>
      {%- endif %}
    {%- endfor %}
    </ul>

    {% set usability_answer = entry.getAnswerValueForQuestion({id: 'usability'}) %}
    {% set format_answer = entry.getAnswerValueForQuestion({id: 'format', type: 'multiple'})|join(', ') %}
    {% set licence_answer = entry.getAnswerValueForQuestion({id: 'licence_url'}) %}
    {% set source_answer = entry.getAnswerValueForQuestion({id: 'location', type: 'source'}) %}
    <div class="row">
      {% if usability_answer %}
      <div class="col-md-6">
        <h4>{{ gettext("Data Usability") }} <span class="label label-warning">{{ gettext("Beta") }}</span></h4>
        <p>{{ gettext("The submitter assessed the usability of the data as follows (3 - little to no effort needed, 1 - extensive effort needed)") }}: <strong>{{ usability_answer }}</strong></p>
      </div>
      {% endif %}
      {% if format_answer %}
      <div class="col-md-6">
        <h4>{{ gettext("Data format") }}</h4>
        <p>{{ format_answer }}</p>
      </div>
      {% endif %}
    </div>
    <div class="row">
      {% if licence_answer %}
      <div class="col-md-6">
        <h4>{{ gettext("Data licence") }}</h4>
        <p>{{ licence_answer|urlize }}</p>
      </div>
      {% endif %}
      {% if source_answer %}
      <div class="col-md-6">
        <h4>{{ gettext("Data Location") }}</h4>
        {% set answerValue = '' %}
        <ul>
        {% for source in source_answer %}
          {% if source.urlValue %}
            {% set sourceValue = source.urlValue %}
            {% if source.descValue %}
              {% set sourceValue = sourceValue + ' - ' + source.descValue %}
            {% endif %}
            {% set sourceValue = '<li>' + sourceValue + '</li>' %}
            {% set answerValue = answerValue + sourceValue %}
          {% endif %}
        {% endfor %}
        </ul>
        <p>{{ answerValue|marked }}</p>
      </div>
      {% endif %}
    </div>


    {% if not is_index %}
      {% set answers = entry.getSimpleAnswersForQuestions(questions) %}
      <h3>{{ gettext("All answers") }}</h3>
      <table class="table table-striped yntable">
        <tbody>
          <tr>
            <th>{{ gettext("Question")}}</th>
            <th>{{ gettext("Answer") }}</th>
            <th>{{ gettext("Comment")}}</th>
          </tr>
        {% for answer in answers %}
          {% if answer.value %}
          {% set question = questions|find({id: answer.id}) %}
          {% set answerValue = '' %}

          {% if question.type == 'source' %}
          {# Special treatment for 'source' question type. #}
            {% for source in answer.value %}
              {% set answerValue = answerValue + source.urlValue + ' - ' + source.descValue %}
              {% if not loop.last %}
                {% set answerValue = answerValue + ', ' %}
              {% endif %}
            {% endfor %}
            {% set answerValue = answerValue|urlize %}
          {% elif question.type == 'multiple' %}
          {# Special treatment for 'multiple' question type. #}
            {% set answerValue = answer.value|join(', ') %}
          {% elif question.id == 'licence_url' %}
          {# Special treatment for 'licence_url' question id. #}
            {% set answerValue = answer.value|urlize %}
          {% else %}
            {% set answerValue = answer.value %}
          {% endif %}

          <tr>
            <td>{{question.questionshort or answer.id}}</td>
            <td>{{answerValue}}</td>
            <td>{{answer.commentValue}}</td>
          </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    {% endif %}

    {% if entry.details %}
    <div class="place-details">
      <h4><strong>{{ gettext("Details") }}</strong></h4>
      <p>{{ entry.details }}</p>
    </div>
    {% endif %}

    {% if entry.reviewComments %}
    <div class="place-comments">
      <h4><strong>{{ gettext("Reviewer comments") }}</strong></h4>
      <p>{{ entry.reviewComments }}</p>
    </div>
    {% endif %}
  </div>
</section>

{% if is_index %}
<section id="place-contributors">
  <div class="container">
    <h2>{{ gettext("Contributors") }}</h2>
    <div class="row">
      <div class="col-md-6">
        <h4>{{ gettext("Reviewers") }}</h4>
        {% if entry.Reviewer %}
        <ul>
          <li>{{entry.Reviewer.fullName()}}</li>
        </ul>
        {% endif %}
      </div>
      <div class="col-md-6">
        <h4>{{ gettext("Submitters") }}</h4>
        {% if entry.Submitter %}
        <ul>
          <li>{{ entry.Submitter.fullName() }}</li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>
</section>

  {% if discussionUrl %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>{{ gettext("Discuss this entry") }}</h3>
          <p>Do you want to discuss this entry? Start a <a target="_blank" href="{{ discussionUrl }}">new topic</a> on the forum!</p>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

{% endif %}

{% if not is_index %}
<section class="place-meta">
  <div class="container">
    <h3>{{ gettext("Meta data") }}</h3>
    <table class="table table-striped yntable">
      <tbody>
      <tr><td>{{ gettext("Date the data became available") }}</td><td>&nbsp;&nbsp;&nbsp;{% if entry.answers.dateavailable %}{{ entry.answers.dateavailable }}{% else %}{{ gettext("Unknown") }}{% endif %}</td></tr>
      <tr><td>{{ gettext("Format of data") }}</td><td>&nbsp;&nbsp;&nbsp;{% if entry.answers.format %}{{ entry.answers.format }}{% else %}{{ gettext("Unknown") }}{% endif %}</td></tr>
      <tr><td>{{ gettext("Reviewer") }}</td><td>&nbsp;&nbsp;&nbsp;{% if entry.Reviewer %}{{entry.Reviewer.fullName()}}{% endif %}</td></tr>
      <tr><td>{{ gettext("Submitters") }}</td><td>&nbsp;&nbsp;&nbsp;{% if entry.Submitter %}{{entry.Submitter.fullName()}}{% endif %}</td></tr>
      <tr><td>{{ gettext("Last modified") }}</td><td>&nbsp;&nbsp;&nbsp;{% if entry.createdAt %}{{ entry.createdAt }}{% else %}{{ gettext("Unknown") }}{% endif %}</td></tr>
      </tbody>
    </table>
  </div>
</section>
{% endif %}

<div id="popover" class="popover fade bottom in" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>

{% endblock %}
