{% extends "base.html" %}

{% block title %}
{{gettext("Login")}}
{% endblock %}

{% block content %}
<div class="page-header">
  <h1>{{gettext("Login")}}</h1>
</div>

<div class="name-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  </div>
</div>

<div class="row">
  <div class="span12">
      <h4>
          {{ gettext("Please login to contribute to the") }} {{ sitename }}
      </h4>
      <p>&nbsp;</p>
  </div>

  {#
  <div class="span5">
    <form action="{{ authBase }}/local" method="POST">
      <div>
        <label>{{gettext("Username or email")}}</label>
        <input name="username" class="span5" type="text">
      </div>
      <div>
        <label>{{gettext("Password")}}</label>
        <input name="password" class="span5" type="password">
      </div>
      <button type="submit" class="btn btn-primary">{{gettext("Login &raquo;")}}</button>
    </form>
  </div>
  #}

  <div class="span5">
    <a class="btn btn-primary" href="{{ authBase }}/google">{{gettext("Google &raquo;")}}</a>
    <p>&nbsp;</p>
    <a class="btn btn-primary" href="{{ authBase }}/facebook">{{gettext("Facebook &raquo;")}}</a>
    <p>&nbsp;</p>
    <p>{{gettext("Login with your existing 3rd party account in a few seconds. We will not share your email with any third party. For more information see the")}} <a href="https://okfn.org/terms-of-use/" title="{{ gettext("terms of use") }}">{{ gettext("terms of use")}}</a>.</p>
  </div>
</div>

{% endblock %}
