{% extends "page.html" %}

{% block title %}{{ gettext('Place overview') }}{% endblock %}


{% block content %}

<header id="place-intro" class="place-intro">
  <div class="container">
  <div class="share">
    <h1>{{ gettext('Place overview') }}</h1>
    {% include 'includes/share_buttons.html' %}
  </div>
  </div>
</header>


{# page content #}
<div class="place-content container">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#table" aria-controls="table" role="tab" data-toggle="tab"><i class="fa fa-table" aria-hidden="true"></i> Table view</a></li>
    <li role="presentation"><a href="#map" aria-controls="map" role="tab" data-toggle="tab"><i class="fa fa-map" aria-hidden="true"></i>
 Map view</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="table">
      <h5>Search</h5>
      <form role="form" class="form-inline data-table-tools">
        <div class="form-group">
          <input class="form-control filter-table" type="search" name="filter-table" placeholder="Search for a place">
        </div>
      </form>
      {% include 'includes/dataviews/table_places.html' %}
      <div class="history">
        <h6>See other years</h6>
        <ul>
          <li><a href="http://index.okfn.org/place/2014/" title="2014">2014</a></li>
          <li><a href="http://index.okfn.org/place/2013/" title="2013">2013</a></li>
        </ul>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="map">
      {% include 'includes/dataviews/embed_map.html' %}
    </div>
  </div>

</div>

{% endblock %}
