{% extends "page.html" %}

{% block title %}
{{ this.title }}
{% endblock %}


{% block content %}
<header id="place-intro">
  <div class="container">
    <h1>{{ gettext('Place overview') }} </h1>
    <hr>

    <div id="summary-stats" class="row">
      <div class="stat col-md-3">
        <strong>9%</strong>
        <span class="percent-open-context" data-toggle="popover" title="" data-content="This is the percentage of all the dataset entries that are open as per the Open Definition. We get one dataset entry for each dataset and place (e.g. Transport Timetables for the United Kingdom is one dataset entry). For each entry we check whether the dataset is fully open as per the Open Definition, and then divide by the total number of entries to get a percentage. &lt;a href=&quot;faq/#open-data&quot;&gt;Find out more about Open Data&lt;/a&gt;" data-original-title="What does this mean?">Percent Open <i class="fa fa-question-circle"></i></span>
        <small>
            Down
            from 12% in 2014
        </small>
      </div>
      <div class="stat col-md-3">
        <strong>122</strong>
        <span>Number of Places</span>
        <small>
            Up
            from 97 in 2014
        </small>
      </div>
      <div class="stat col-md-3">
        <strong>1586</strong>
        <span>Number of Entries</span>
        <small>
            Up
            from 970 in 2014
        </small>
      </div>
      <div class="stat col-md-3">
        <strong>156</strong>
        <span>Number of Open Datasets</span>
        <small>
            Up
            from 124 in 2014
        </small>
      </div>
    </div>
    <hr>
  </div>
</header>

<div class="container content">
  <div class="row">

    <div class="col-md-4">
      <h5>{{ gettext("Search") }}</h5>
      <form role="form" class="form-inline data-table-tools">
        <div class="form-group">
          <input class="form-control filter-table" type="search" name="filter-table" placeholder="Search for a place">
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <h5>{{ gettext("See other years") }}</h5>
      <div class="btn-group">
        <a class="btn btn-default" href="http://index.okfn.org/place/2013/" title="2013">2013</a>
        <a class="btn btn-default" href="http://index.okfn.org/place/2014/" title="2014">2014</a>
        <a class="btn btn-default" href="http://index.okfn.org/place/" title="2015">2015</a>
      </div>
    </div>

    <div class="col-md-4">
      <h5>{{ gettext("Share this page") }}</h5>
      <div class="btn-group">
        <a href="http://twitter.com/share?url={{current_url}}&amp;text=Check out this data from the {{ site.settings.title }}"
           class="btn btn-default twitter" target="_blank"><i class="fa fa-twitter"></i> Twitter </a>
        <a href="http://www.facebook.com/sharer/sharer.php?u={{current_url}}"
           class="btn btn-default facebook" target="_blank"><i class="fa fa-facebook"></i> Facebook </a>
        <a href="https://plus.google.com/share?url={{current_url}}" class="btn btn-default google-plus"
           target="_blank"><i class="fa fa-google-plus"></i> Google+ </a>
      </div>
      <div class="modal fade" id="embed-instructions" tabindex="-1" role="dialog" aria-labelledby="embedLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                  class="sr-only">{{ gettext("Close") }}</span></button>
              <h4 class="modal-title" id="embedLabel">{{ gettext("Map embed code") }}</h4>
            </div>
            <div class="modal-body">
              <p>
                {{ gettext("Use the following code to embed the map visualisation into your own website.") }}
              </p>
              <xmp contenteditable="true">
                <iframe width="100%" height="300px"
                        src="http://index.okfn.org/vis/map/embed/?embed_width=100%&embed_height=300px&filter_year=2015&filter_dataset=all&panel_tools=true&panel_share=true&map_place="
                        frameBorder="0"></iframe>
              </xmp>
              <p>
                {{ gettext("If you are a developer, you can read more about the embed options here:") }} <a
                  href="https://github.com/okfn/opendataindex/#choropleth-map" title="Embed options">{{ gettext("Embed options") }}</a>
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">{{ gettext("Close") }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <hr/>

  {% include 'includes/dataviews/table_places.html' %}

</div>

{% endblock %}
