{% extends "page.html" %}
{% block title %}{{ place.name }}{% endblock %}
{% block content %}

{% if is_index and not place and data -%}
  {% set place = data %}
{%- endif %}
{% if is_index and data.stats %}
  {% set stats = data.stats %}
{% endif %}

<section id="data-header">
  <div class="container">
    <div class="row">
      <div class="col-md-{% if is_index %}6{% else %}12{% endif %}">
        <h1>
          {{ place.name }}
          <span style="background-color: rgb(223, 204, 51); color: white;" class="dataset-openness" data-score="{{ stats.openDataPercent }}">{{ format(gettext("%(score)s% open"), {score: stats.openDataPercent}) }}</span>
        </h1>
        {% if is_index %}
        <div class="col-md-12 place-rank statistics">
          <span>{{ format(gettext("Ranked #%(rank)s against other places in the Index"), {rank: place.rank}) }}</span>
        </div>
        {% endif %}
        <div class="row navigate">
          <div class="col-md-12">
            {% include 'includes/share_buttons.html' %}

            {% if is_index %}
            <div class="history">
              <h6>{{ gettext("See other years") }}</h6>
              <ul>
                <li><a href="http://index.okfn.org/place/{{ place.slug }}/2013/" title="2013">2013</a></li>
                <li><a href="http://index.okfn.org/place/{{ place.slug }}/2014/" title="2014">2014</a></li>
                <li><a href="http://index.okfn.org/place/{{ place.slug }}/" title="2015">2015</a></li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      {% if is_index %}
      <div class="col-md-6">
        <div id="map-container">
          {% include 'includes/dataviews/embed_map.html' %}
        </div>
      </div>
      {% endif %}

    </div>
  </div>
</section>

<hr />

<section id="dataset-slice-table">
  <div class="container">
    {% include 'includes/dataviews/table_slice_place.html' %}
  </div>
</section>

{% endblock %}
