{% extends "base.html" %}
{% include '_snippets/entry-summary-row.html' %}

{% block title %}
{{place.name}} &mdash; {{gettext("Places")}}
{% endblock %}

{% block content %}

<h1>
  {% if overview %}<a href="{{urlFor('overview')}}" data-toggle="tooltip" class="count-0"
    title="Return to results overview">{{gettext("Places")}}</a>
  / {% endif %}{{ place.name }} / {{ year }}

  <span class="pull-right">
    {% include '_snippets/share_page_buttons.html' %}
  </span>
</h1>

<div id="spacer"></div>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <div class="tab-content">
    <div class="tab-pane active" id="table-overview">
      <div class="table">
        <p>{{gettext("This is the overview page where you can see the state of open data across each key dataset.")}}</p>

        <table class="table table-striped">
          <colgroup>
            <col width="25%" />
            <col width="1%" />
            <col width="25%" />
            <col />
            <col />
            <col width="13%" />
            <col width="15%" />
          </colgroup>
          <thead>
            <tr>
              <th>{{gettext("Dataset")}}</th>
              <th>{{gettext("Score")}}</th>
              <th>{{gettext("Breakdown")}}</th>
              <th></th>
              <th>{{gettext("Location (URL)")}}</th>
              <th>{{gettext("Information")}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for dataset in datasets %}

            {% set currentEntry = entries|find({'dataset': dataset.id, 'isCurrent': true}) %}
            {% set pendingEntries = entries|find({'dataset': dataset.id, 'isCurrent': false, 'reviewed': false, 'reviewResult': false}) %}

            <tr>
              <td>
                {% if currentEntry %}<a href="/entry/{{place.id}}/{{dataset.id}}/{{ year }}">{% endif %}
                  {{ dataset.name }}
                {% if currentEntry %}</a>{% endif %}
                &nbsp;
                <a href="javascript:;"
                  data-toggle="popover"
                  class="count-0"
                  data-content="{{ dataset.description }}"
                  title="{{ dataset.title }}"><i class="icon-info-sign"></i></a>
              </td>
              {{entrysummary(dataset, place, currentEntry, questions)}}

              <td>
                {% if submissionsAllowed %}

                {% if currentEntry %}
                <a id="submit-{{ dataset.id }}" href="/census/submit/?dataset={{ dataset.id }}&place={{ place.id }}" class="btn btn-mini btn-primary">
                  <!-- <i class="icon-plus"></i> -->{{gettext("Propose Revisions")}}
                </a>
              {% else %}
                <a id="submit-{{ dataset.id }}" href="/census/submit/?dataset={{ dataset.id }}&place={{ place.id }}" class="btn btn-mini btn-primary">
                  <!-- <i class="icon-plus"></i> -->{{gettext("Submit information")}}
                </a>
                {% endif %}

                {% else %}
                <i class="muted">{{ gettext('Closed') }}</i>
                {% endif %}
              </td>

            </tr>
            {% for pendingEntry in pendingEntries %}
            <tr class="queued">
              <td>
                <strong>{{gettext("&#8627; Awaiting review")}}</strong><br />

                <span title="{{ gettext('Submitted by')}} {{ submission.submitter}}" class="queued-context">
                  <i class="icon icon-user"></i>&nbsp;
                  {{ pendingEntry.submitter.firstName }}
                </span>
                <br />
                <span title="{{ gettext('Submitted on')}} {{ submission.timestamp|dateformat }}" class="queued-context">
                  <i class="icon icon-time"></i>&nbsp;
                  {{ pendingEntry.timestamp|simpledelta }}
                </span>
              </td>
              {{entrysummary(dataset, place, pendingEntry, questions)}}
              <td>
                 <a href="/submission/{{pendingEntry.id}}" class="btn btn-mini btn-danger">
                  {{gettext("View Submission")}}
                 </a>
                 <script>
                  $("#submit-{{ dataset.id }}").addClass("disabled");
                  $("#submit-{{ dataset.id }}").attr("onclick", "return false");
                  $("#submit-{{ dataset.id }}").attr("href", "#");
                  $("#submit-{{ dataset.id }}").attr("data-toggle", "tooltip");
                  $("#submit-{{ dataset.id }}").attr("title", '{{gettext("Sorry, only one submission can be waiting for review at a time - please come back in a few days to submit new information")}}');
                 </script>
              </td>
            </tr>
            {% endfor %}

            {% endfor %}
          </tbody>
        </table>

        {% include '_snippets/key.html' %}

        <h3>{{gettext("Contributors")}}</h3>
        <h4>{{ format("Editors for %(name)s:", { name: place.name }) }}</h4>
        <p>
          {% if reviewers %}{% for reviewer in reviewers %}{% if loop.index>1 %}, {% endif %}{{reviewer}}{% endfor %}{% endif %}
        </p>
        <h4>{{gettext("With submissions from:")}} </h4>
        <p>
          {% if submitters %}{% for submitter in submitters %}{% if loop.index>1 %}, {% endif %}{{submitter}}{% endfor %}{% endif %}
        </p>
      </div>
    </div>
  </div>
</div>

<script src="{{page.root}}/src/common.js"></script>
<script src="{{page.root}}/src/census.js"></script>
{% endblock %}
