{% extends "page.html" %}

{% block title %}{{ gettext('Place overview') }}{% endblock %}


{% block content %}
<header id="place-intro">
  <div class="container">
    <h1>{{ gettext('Place overview') }}</h1>
    <hr>

    <div id="summary-stats" class="row">
      <div class="stat col-md-3">
        <strong>9%</strong>
        <span class="percent-open-context" data-toggle="popover" title="" data-content="This is the percentage of all the dataset entries that are open as per the Open Definition. We get one dataset entry for each dataset and place (e.g. Transport Timetables for the United Kingdom is one dataset entry). For each entry we check whether the dataset is fully open as per the Open Definition, and then divide by the total number of entries to get a percentage. &lt;a href=&quot;faq/#open-data&quot;&gt;Find out more about Open Data&lt;/a&gt;" data-original-title="What does this mean?">Percent Open <i class="fa fa-question-circle"></i></span>
        <small>
            Down
            from 12% in 2014
        </small>
      </div>
      <div class="stat col-md-3">
        <strong>122</strong>
        <span>Number of Places</span>
        <small>
            Up
            from 97 in 2014
        </small>
      </div>
      <div class="stat col-md-3">
        <strong>1586</strong>
        <span>Number of Entries</span>
        <small>
            Up
            from 970 in 2014
        </small>
      </div>
      <div class="stat col-md-3">
        <strong>156</strong>
        <span>Number of Open Datasets</span>
        <small>
            Up
            from 124 in 2014
        </small>
      </div>
    </div>
    <hr>
  </div>
</header>

<div class="container content">
  <div class="row">

    <div class="col-md-4">
      <h5>{{ gettext("Search") }}</h5>
      <form role="form" class="form-inline data-table-tools">
        <div class="form-group">
          <input class="form-control filter-table" type="search" name="filter-table" placeholder="Search for a place">
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <h5>{{ gettext("See other years") }}</h5>
      <div class="btn-group">
        <a class="btn btn-default" href="http://index.okfn.org/place/2013/" title="2013">2013</a>
        <a class="btn btn-default" href="http://index.okfn.org/place/2014/" title="2014">2014</a>
        <a class="btn btn-default" href="http://index.okfn.org/place/" title="2015">2015</a>
      </div>
    </div>

    <div class="col-md-4">
      {% include 'includes/share_buttons.html' %}
    </div>

  </div>

  <hr/>

  {% include 'includes/dataviews/table_places.html' %}

</div>

{% endblock %}
