{% extends "base.html" %}

{% block title %}
{{gettext("Review Submission")}}
{% endblock %}

{% block content %}

<div class="row">
  <div class="span12">
    {% if currentUser %}
    {% else %}
    <div class="alert alert-danger" style="height: 40px;line-height: 40px;">
      <div class="span9">
        <p>
          {{gettext("If you are a reviewer, please login to review")}}
        </p>
      </div>
      <div class="span2" style="text-align: right;">
        <a class="btn btn-primary" href="/login?next=/census/submission/{{ current.id }}">{{gettext("Login")}}</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="page-header">
  <h1>
    <a href="/year/{{ current.year }}">{{ current.year }}</a> /
    <a href="/place/{{ place.id }}">{{ place.name }}</a> /
    <a href="/dataset/{{ dataset.id }}">{{ dataset.name }}</a>
    [<a href="/census/submission/{{ current.id }}">{{ current.id|truncate(8) }}</a>]

    <span class="pull-right">
      {% include '_snippets/share_page_buttons.html' %}
    </span>
  </h1>

  <p>
    {{ dataset.description|marked }}
  </p>

  <ul>
    <li><strong>{{ gettext("Status") }}:</strong> <span class="label label-{% if current.isCurrent or current.reviewResult %}success{% else %}warning{% endif %}">{% if current.isCurrent or current.reviewResult %}accepted{% else %}pending{% endif %}</span></li>
    <li><strong>{{ gettext("Submission date") }}:</strong> {{ current.createdAt|dateformat }}</li>
    <li><strong>{{ gettext("Submitter") }}:</strong>{% if current.Submitter %}{{ current.Submitter.fullName() }}{% endif %}</li>
    {% if current.Reviewer %}
    <li><strong>{{ gettext("Reviewer") }}:</strong> {% if current.Reviewer %}{{ current.Reviewer.fullName() }}{% endif %}</li>
    {% if current.reviewComments %}<li><strong>{{ gettext("Review comments") }}:</strong> {{ current.reviewComments }}</li>{% endif %}
    {% endif %}
  </ul>
</div>

<div class="row">
  <div class="span12">
    {% if reviewInstructions %}
    <div class="alert alert-warning">
      {{reviewInstructions}}
    </div>
    {% endif %}

    {% if canReview and not reviewClosed %}
    <form action="" method="post" class="submission-review">
    {% endif %}

    {% include '_snippets/form.html' %}

    {% if canReview and not reviewClosed %}
    {% include '_snippets/reviewer_actions.html' %}
    {% endif %}

    {% if canReview and not reviewClosed %}
    </form>
    {% endif %}

  </div>
</div>

<script src="{{page.root}}/src/common.js"></script>
<script src="/src/submit.js"></script>
{% endblock %}
