{% extends "base.html" %}

{% block title %}
{{gettext("Review Submission")}}
{% endblock %}

{% block content %}
<div class="row">
  <div class="span12">
    {% if currentUser %}

    {% if not canReview %}
    <p>&nbsp;</p>
    <div class="alert alert-danger" style="height: 40px;line-height: 40px;">
      <div class="span9">
        <p>
          {{ currentUser.firstName }}, {{ gettext("You do not have permissions to review this submission.") }}
        </p>
      </div>
    </div>
    {% endif %}

    {% else %}
    <div class="alert alert-danger" style="height: 40px;line-height: 40px;">
      <div class="span9">
        <p>
          {{gettext("If you are a reviewer, please login to review")}}
        </p>
      </div>
      <div class="span2" style="text-align: right;">
        <a class="btn btn-primary" href="{{ loginUrl }}?next=census/submission/{{ current.id }}">{{gettext("Login")}}</a>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="page-header">
  <h1>
    <a href="/year/{{ current.year }}">{{ current.year }}</a> /
    <a href="/place/{{ place.id }}">{{ place.name }}</a> /
    <a href="/dataset/{{ dataset.id }}">{{ dataset.name }}</a>
    <span class="pull-right">
      {% include '_snippets/share_page_buttons.html' %}
    </span>
  </h1>

  <p>
    {{ dataset.description|marked }}
  </p>

  {% if current.isCurrent %}
    {% set statusClass = "success" %}
    {% set statusText = "accepted" %}
  {% else %}
    {% if current.reviewed and not currentreviewResult %}
      {% set statusClass = "important" %}
      {% set statusText = "rejected" %}
    {% else %}
      {% set statusClass = "warning" %}
      {% set statusText = "pending" %}
    {% endif %}
  {% endif %}

  <ul>
    <li><strong>{{ gettext("Status") }}:</strong> <span class="label label-{{ statusClass }}">{{ statusText }}</span></li>
    <li><strong>{{ gettext("Submission date") }}:</strong> {{ current.createdAt|dateformat }}</li>
    <li><strong>{{ gettext("Submitter") }}:</strong> {% if current.Submitter %}{% if current.Submitter.isAnonymous() %}{{ current.Submitter.firstName|title }}{% else %}{{ current.Submitter.fullName() }}{% endif %}{% endif %}</li>
    {% if current.Reviewer %}
    <li><strong>{{ gettext("Reviewer") }}:</strong> {% if current.Reviewer %}{% if current.Reviewer.isAnonymous() %}{{ current.Reviewer.firstName|title }}{% else %}{{ current.Reviewer.fullName() }}{% endif %}{% endif %}</li>
    {% if current.reviewComments %}<li><strong>{{ gettext("Review comments") }}:</strong> {{ current.reviewComments }}</li>{% endif %}
    {% endif %}
  </ul>
</div>

<div class="row">
  <div class="span12">
    {% if reviewInstructions %}
    <div id="alert" class="alert alert-warning">
      {{reviewInstructions}}
    </div>
    {% endif %}

    <div id="sticky-rails">
      <div id="to-comments" style="text-align: right;">
        <a href="#comments" class="btn btn-primary" style="position: absolute; margin-left: 16px;">{{ gettext("Comment") }}</a>
      </div>

      {% if canReview and not reviewClosed %}
      <form action="" method="post" class="submission-review">
      {% endif %}

      {% include '_snippets/form.html' %}

      {% if canReview and not reviewClosed %}
      {% include '_snippets/reviewer_actions.html' %}
      {% endif %}

      {% if canReview and not reviewClosed %}
      </form>
      {% endif %}
    </div>

  </div>

  <div id="comments" class="span12">
    <hr />
    <h2>{{ gettext("Comments") }}</h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = '{{disqus_shortname}}'; // required: replace example with your forum shortname
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>

<script src="{{page.root}}/src/common.js?v1"></script>
<script src="{{page.root}}/vendor/jquery.sticky-kit.min.js"></script>
<script src="/src/submit.js"></script>
<script>$(function() { $('#to-comments').stick_in_parent(); });</script>
{% endblock %}
