{% extends 'base.html' %}

{% block title %}
{{ gettext('Dashboard') }}
{% endblock %}

{% block content %}
<h1>{{ gettext('System Admin Dashboard') }}</h1>
<ul>
  <li><form action="/load/registry" method="post"><button class="btn btn-primary" type="submit">Load Registry</button></form></li>
  <li><form action="/load/configs" method="post"><button class="btn btn-primary" type="submit">Load Configs</button></form></li>
  <li><form action="/load/places" method="post"><button class="btn btn-primary" type="submit">Load Places</button></form></li>
  <li><form action="/load/datasets" method="post"><button class="btn btn-primary" type="submit">Load Datasets</button></form></li>
  <li><form action="/load/questionsets" method="post"><button class="btn btn-primary" type="submit">Load QuestionSets</button></form></li>
</ul>

<h2>{{ gettext('Registry data') }}</h2>
<ul>
  {% for entry in registry %}
  <li><strong>{{ entry.id }} {{ gettext('admin') }}:</strong> {{ entry.settings.adminemail|escape }}</li>
  {% endfor %}
</ul>
{% endblock %}
