{% extends 'base.html' %}

{% block title %}
{{ gettext('Dashboard') }}
{% endblock %}

{% block content %}
<h1>{{ gettext('System Admin Dashboard') }}</h1>
<ul>
  <li><a href="/load/registry">Load Registry</a></li>
  <li><a href="/load/configs">Load Configs</a></li>
  <li><a href="/load/places">Load Places</a></li>
  <li><a href="/load/datasets">Load Datasets</a></li>
  <li><a href="/load/questions">Load Questions</a></li>
</ul>

<h2>{{ gettext('Registry data') }}</h2>
<ul>
  {% for entry in registry %}
  <li><strong>{{ entry.id }} {{ gettext('admin') }}:</strong> {{ entry.settings.adminemail|escape }}</li>
  {% endfor %}
</ul>
{% endblock %}
